/*
Theme Name: p2pGrove
Theme URI: #
Version: 1.3.1
Author: #
Author URI: #
Description: #
Text Domain: yit
Core Framework Version: 2.0.0
Tags: white, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, front-page-post-form, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Copyright: (c) 2012-2014 Your Inspiration Themes
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.txt

                            11
                          11111
                         111111        000
                        1111111      00000
                        1111111     000000
                         11111      00000
                                    00000
                                   000000
                                   000000
    000      00000        000      000000    0000
  000000    0000000     00000    00000000000000000
 0000000   00000000    0000000  000000000000000000
00000000  0000000000  00000000  000000000000  0000
00000000  000000000  000000000     00000      0000
0 000000     000000  00 00000     000000      0000
  000000     000000     00000     000000      0000
  000000     000000     00000     00000       000   000
  000000    0000000     00000     00000       000 000000
  00000     0000000    000000     00000      00000000000
 000000    00000000    000000    000000      00000000000
 000000   00000000    000000    0000000      00000  0000
 00000000000000000   00000000  00000000    000000   000
 00000000000000000 000000000000000000000000000000   000  00
 00000000000000000000 00000000000000000000000000   0000 000
 0000000000 00000000  0000000000 00000000000 000   0000000
 00000000   000000     0000000    00000000   000   000000
   000    0000000      00000       00000       00   000
        00000000
      0000000000
     0000000000
   00000 000000
  00000  000000
  0000  000000
 000000000000
 000000000000
 00000000000
 0000000000
 000000000
  0000000
    00

*/

/*
 * =LAYOUT=
 */
body{
    overflow-x: hidden;
}

a, a:hover, a:visited {
    text-decoration: none;
    outline: 0 none !important;
}

* {
    outline: 0 none !important;
}


:focus {
    outline: none;
    text-decoration: none !important;
}

::-moz-focus-inner {border-width:0 0 0 0;border:0;outline: 0 none !important;text-decoration: none !important;}

input[type="text"], input[type="password"], input[type="email"],input[type="search"], input[type="submit"], textarea{
    border-radius: 0;
    -webkit-appearance: none;
}
/* Wordpress Misc */

.wp-caption {
    max-width: 100%;
}

.content img{
    max-width: 100%;
    height: auto;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"]{
    height: auto;
}

.content table{
    width: 100%;
}

.alignleft, img.alignleft{
    display:inline;
    float:left;
    margin-right:24px;
    margin-top:4px;
}

.alignright, img.alignright{
    display:inline;
    float:right;
    margin-left:24px;
    margin-top:4px;
}

div.aligncenter, img.aligncenter {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    float:none;
}

img.alignleft, img.alignright, img.aligncenter{
    margin-bottom:12px;
}

embed,
iframe,
object,
video {
    margin-bottom: 24px;
    max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
    margin-bottom: 0;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
    margin: 7px 24px 7px 0;
}
q{
    border-top: 2px solid ;
    border-bottom: 1px solid ;
    padding: 10px;
    margin: 10px 0px;
    clear: both;
    display: block;
}
.wp-caption.alignleft {
    margin: 7px 14px 7px 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
    margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
    margin: 7px 0 7px 14px;
}

.wp-caption {
    margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption {
    color: #767676;
}

.wp-caption-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    font-size: 12px;
    font-style: italic;
    line-height: 1.5;
    margin: 9px 0;
}

div.wp-caption .wp-caption-text {
    padding-right: 10px;
}

div.wp-caption.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text {
    padding-left: 10px;
    padding-right: 0;
}

.wp-smiley {
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
    margin-top: 7px;
    margin-bottom: 7px;
}


.gallery {
    margin-bottom: 20px;
}
.gallery:before,
.gallery:after{
    content: "";
    display: table;
}
.gallery:after{
    clear: both;
}
.gallery img{
    border: none;
}
.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 4px);
    max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
}

.gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}




.wp-caption-text {}

.bypostauthor {}
#wrapper {
    overflow-x: hidden;
}


label, .label{
	padding: 0;
	line-height: normal;
	text-align: left;
}

#wrapper.container {
    -webkit-box-shadow: 0 -3px 9px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -3px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -3px 9px rgba(0, 0, 0, 0.1);

}

#wrapper.container .container {
    margin: 0 -15px;
}


.boxed-layout #header,
.boxed-layout #slogan,
.boxed-layout #footer-copyright-group {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

#primary {
    margin-top: 38px;
}

.sidebar {
    min-height: 630px;
}

.sidebar.sidebar-right {
    box-shadow:         -4px 0px 3px -3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -4px 0px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    -4px 0px 3px -3px rgba(0, 0, 0, 0.1);
}

.sidebar.sidebar-left {
    box-shadow:         4px 0px 3px -3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 0px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    4px 0px 3px -3px rgba(0, 0, 0, 0.1);
}

.force-sticky-header #primary{
    margin-top: 0;
}

/*
/* = HEADER =
 */
#header {
    position: relative;
    width: 100%;
    /*-webkit-box-shadow: 2.5px 4.33px 3px 0px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 2.5px 4.33px 3px 0px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 2.5px 4.33px 3px 0px rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.1);
    -moz-box-shadow:    0px 2px 5px 0px rgba(30, 30, 30, 0.1);
    box-shadow:         0px 2px 5px 0px rgba(30, 30, 30, 0.1);
    z-index: 1000;
}
#header.sticky-header{
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    transition: all 0.3s;
}

#header.fixed-header {
    position: fixed;
}

#header.fixed-header #welcome-menu-login.nav ul li.login-menu div.submenu {
    top: 85px;
}

#wrapper > div.revolution-wrapper{
    overflow: hidden;
}

.boxed-layout #wrapper > div.revolution-wrapper{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}

.force-sticky-header #header{
    position: fixed;
    z-index: 1000;
    margin-top: -10px;
    background-color: rgba(255, 255, 255, 0.8);
}



/* boxed */
.boxed-layout #header{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
    z-index: 1000;
}
.boxed-layout #header-container, .boxed-layout #topbar  {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.boxed-layout #map{
    margin-left: -15px;
    margin-right: -15px;
}
.boxed-layout #wrapper.container .container.slider-parallax{
    /*margin-right: -15px;*/
    width: auto;
}
.boxed-layout div.parallaxeos_content.container > div{
    margin: 30px;
    width: 95%;
}
.boxed-layout .nav .megamenu > div.submenu > ul.sub-menu{
    padding-left: 30px;
}
.boxed-layout .header-parallax { margin-left: -15px; margin-right: -15px }

.boxed-layout #title_bar {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.boxed-layout .revolution-wrapper .fullscreen{
    margin-left: -15px;
    margin-right: -15px;
}

/* Static Header */
.header-parallax{ overflow: hidden}
.slider.fixed-image { text-align: center; margin-top: 20px;}
.slider.fixed-image .fixed-image-wrapper { margin: 0 auto;}
.slider.fixed-image img {
    width: auto;
    height: auto;
    max-width: 100%;

}
.stretched-layout .slider.fixed-image{ margin-top:0px}

/* topbar */
#topbar {
    /*height: 30px;*/
    line-height: 27px;
    clear: both;
    /*overflow: hidden;*/
}

#topbar-left {
    float: left;
}

#topbar-right {
    float: right;
    margin-top: -1px;
}
#topbar-left .widget_text {
    float: left;
    margin-right: 10px;
}

.force-sticky-header #topbar{
    display: none;
}

/* header container */
#topbar {
    border-bottom: 1px solid #ebebeb;
    padding-top:2px;
}

/* logo */
#logo {
    margin-right: 15px;
    float: left;
    padding-bottom: 7px;
}

#logo img {
    /*max-height: 49px;*/
    width: auto;
}
#nav:not(.mobile-clone), #logo:not(.mobile-clone){
    display: block ;
}
.nav.mobile-clone, #logo.mobile-clone, .skin2 #logo.mobile-clone {
    display: none;
}
.with_tagline #tagline {
    margin-top: -5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.with_tagline #logo-img {
    padding-top: 5px;
}
.with_tagline #logo-img img{

}
#textual, #logo-img {
    display: inline-block;
    margin: 0;
    padding-top: 17px;
    max-width: 100%;
}

/* header-sidebar */
#header-sidebar {
    float: right;
    z-index: 2;
    /* position: absolute; */
    /* right: 0; */
    top: 0px;
}

/* welcome menu */
#welcome-menu, #welcome-menu-login {
    float: left;
}
#welcome-menu > ul > li.menu-item.dropdown > a,
#menu-welcome-login > li.menu-item.login-menu > a {
    line-height: 85px;
}
#menu-welcome-login  p.lost_password {
    clear:both;
	text-align:right;
	padding: 20px 0px
}
#welcome-menu-login.nav div.fb-connect {
    /* clear: both; */
    left: auto;
    top: auto;
    margin: 0px;
	text-align: right;
    position: relative;

}
#welcome-menu{
    /*clear: both;*/
    font-size: 13px;
    /*padding-top: 20px;*/
}

.nav ul > li div div.btn-fb-login a{
	font-size: 20px;
}
.nav ul > li div div.btn-fb-login {
    top: auto;
    left: auto;
    margin: 0px;
	position: relative;
    float:right;
	padding: 6px 5px;
    border: 1px solid;
}
#welcome-menu-login ul li .btn-fb-login a {
    font-size: 15px;
    padding: 6px 5px;
    transition: none;
    line-height: normal;
}
#welcome-menu-login ul li .lost_password a {
    margin: 0px;
    padding: 0px;
    line-height: normal;
}
.text_demo{
    clear: both;
    font-size: 14px;
    padding-top: 40px;
}
#welcome-menu-login ul li .btn-fb-login a i{
   margin-right:10px;
   margin-top: 2px;
}
#welcome-menu-login.nav div.fb-connect h3{
    display:none;
}
#menu-welcome-login  #rememberme {
    margin-right: 7px;
    vertical-align: top;
}
#menu-welcome-menu{
    padding-left: 11px;
    font-size: 13px;
}
#welcome-menu-login ul {
    padding-left: 0px;
}
#menu-welcome-menu, #welcome-menu-login ul li a{
   font-size: 13px;
   /* padding:0px; */
}
#welcome-menu-login.nav ul li.login-menu div {
    display: block;
    /* border: 1px solid; */
}
#welcome-menu-login.nav ul li.login-menu div.submenu {
    right: 0px;
    left: auto;
    top: 87px;
    border-top: 2px solid;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#welcome-menu-login.nav ul > li #customer_login {
    position: static;
    line-height: 1.3em;
    padding-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

#welcome-menu-login.nav ul > li #customer_login .customer-login-box1,
#welcome-menu-login.nav ul > li #customer_login .customer-login-box2 {
    position: static;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#welcome-menu-login.nav ul > li .with_registration #customer_login .customer-login-box1,
#welcome-menu-login.nav ul > li  .with_registration #customer_login .customer-login-box2 {
    width: 50%;
}
#welcome-menu-login.nav ul > li #customer_login .customer-login-box2 {
    border-left: 1px solid;
}

#welcome-menu-login.nav ul > li #customer_login h4 {
    /* font-size: 14px; */
    /*color: #000;*/
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

#welcome-menu-login.nav ul > li #customer_login .form-group {
    position: static;
    margin: 15px 0px;
}

#welcome-menu-login.nav ul > li #customer_login .form-group label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}

#welcome-menu-login.nav ul > li #customer_login .form-group .form-control {
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
    border: 1px solid;
}

#welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=text],
#welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=password],
#welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=email] {
    height: 44px;
}

#welcome-menu-login.nav ul > li #customer_login .button {
    float: right;
    border-radius: 1px;
    border: 1px solid;
    background-color: #fff;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    padding: 6px 25px;
}

#welcome-menu-login.nav ul > li #customer_login .button.button-register {
    border: 1px solid #e79904;
    background-color: #f7c104;
}

#menu-welcome-login > li > a > span.sf-sub-indicator {
    right: -3px;
}

/* nav */
.nav {
    padding: 0px;
    height: 50px;
    /* margin-top: 5px; */
}

.nav > ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    height: 100%;
    padding-left: 0px;
    /* margin-top: -20px; */
}

.nav ul > li {
    margin-right: 2px;
    display: inline-block;
}

.nav ul > li.dropdown, #welcome-menu.nav ul > li, #welcome-menu-login ul > li {
    position: relative;
    padding-right: 1px;
}

.nav ul > li.icon-home a {
    padding: 0px 16px;
    display: block;
    font-size: 18px;
    line-height: 85px;
}



.nav ul > li a {
    padding: /*20px 13px;*/ 20px 8px;
    line-height: 85px;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
    position: relative;
}
.nav ul > li a i{
    margin-right: 4px;
}

.nav ul > li.icon-home a::before,
.nav ul > li.icon-home a::after{
    display: none;
}

.nav ul > li a::before,
.nav ul > li a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    z-index: 20;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.nav ul > li > a::before {
    top: 9px;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.nav ul > li > a::after {
    bottom: 9px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.nav ul.sub-menu li > a:hover::before,
.nav ul.sub-menu li > a:focus::before,
.nav ul.sub-menu li > a:hover::after,
.nav ul.sub-menu li > a:focus::after {
    opacity: 0;
}

.nav ul > li > a:hover::before,
.nav ul > li > a:focus::before,
.nav ul > li > a:hover::after,
.nav ul > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* submenu */
.nav ul > li div {
    padding-top: 12px;
    display: none;
    position: absolute;
    left: 18px;
    z-index: 250;
    top: 73px;
}

.nav ul > li div div {
    padding-top: 0;
    margin-top: -42px;
    margin-left: 18px;
    left: 170px;
    top: 1px;
}

.nav ul > li div {
    z-index: 10000;
    margin-left: -18px;
}

#nav .submenu .sub-menu li > a > i {
    margin-right: 10px;
}
#nav .submenu .sub-menu li > a > i {
    margin-right: 10px;
}
.nav ul.sub-menu,
.nav ul.children {
    position: relative;
    font-size: 14px;
    padding: 10px 0 0px 10px;
    min-width: 200px;
    z-index: 99999;
    margin-left: 0px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.nav div.submenu > ul.sub-menu {
    border-top: 2px solid;
}

/* megamenu */
.nav ul > li.megamenu div div {
    margin-top: 0;
    margin-left: 0;
}

.nav .clearfix > ul{
    margin:0;
}

.nav .megamenu div.submenu {
    /* margin-top: 15px; */
    width: 100%;
    box-shadow: 2px 3.464px 6px 0px rgba(0, 0, 0, 0.2);
    padding-top: 0px;
}

.nav .megamenu div.submenu li > div.submenu {
    width: 100%;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

.nav .megamenu div.submenu li > div.submenu li a {
    width: auto;
    border: 0;
    box-shadow: none;
    padding: 6px 0px;
}
.nav .megamenu div.submenu li > div.submenu li a i{
    margin-right: 10px;
}
.nav .megamenu div.sub-menu ul.sub-menu {
    /* top: 18px; */
    border: none;
    display: block;
    box-shadow: none;
}

.nav .megamenu .submenu {
    border-top: 2px solid;
    top: 103px;
}

.nav .megamenu div.submenu > ul.sub-menu {
    border-top: none;
    box-shadow: none;
    background-color: transparent;
    display: table;
    overflow: hidden;
}

.nav .megamenu ul.sub-menu {
    left: auto;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.nav .megamenu ul.sub-menu li {
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

.nav .megamenu ul.sub-menu li {
    padding-bottom: 0;
    border-top: none;
    vertical-align: top;
}

.nav .megamenu ul.sub-menu > li {
    border-right: 1px solid;
    height: auto;
    display: table-cell;
}

.nav .megamenu ul.sub-menu li:last-child {
    border-right: 0px;
}

.nav .megamenu ul.sub-menu li ul {
    margin-left: 0;
    border-top: 0;
    border: none;
    display: block;
    position: static;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0; /* margin-top:10px; */
    padding-bottom: 10px
}

.nav .megamenu ul.sub-menu li ul li {
    font-weight: normal;
    display: block;
    border-left: none;
    padding-right: 0px;
    border-right: 0;
    background-color: transparent;
}

.nav .megamenu ul.sub-menu li.menu-item-custom-content p {
    color: #121212
}

#header.fixed-header .nav .megamenu div.submenu div.submenu{
    margin-top: 0px;
}
.nav  span.highlight,
.nav  span.highlight-inverse{
	margin-left:5px;
    padding: 3px;
    font-weight: 700;
}
.nav span.highlight-inverse {
    background-color: #000000;
    color: #f7c104;
}
.nav .megamenu ul.sub-menu li a {
    line-height: 1.3em;
    white-space: normal;
    padding: 6px 0;
    border-bottom: 0px;
    color: #000;
}

.nav .megamenu ul.sub-menu .sf-sub-indicator {
    display: none;
    background: none;
}

.nav .megamenu ul.sub-menu li.menu-item-custom-content p {
    font-size: 12px !important;
    margin: 0;
}
.nav .megamenu > .submenu >.sub-menu > li >a,
.nav .bigmenu > .submenu >.sub-menu > li >a{
    pointer-events: none;
}
.nav > ul > li.megamenu div.submenu div {
    display: block !important;
    position: static !important;
    padding-top: 0;
}
.nav ul.sub-menu li {
    line-height: 32px;
}
.nav .megamenu > .submenu >.sub-menu > li >a {
    padding-top: 16px;
}

.nav ul.sub-menu li,
.nav ul.children li,
#header-sidebar .widget_nav_menu ul.sub-menu li,
#header-sidebar .widget_nav_menu ul.children li {
    border-left: 0px;
    margin-right: 0;
    float: none;
    display: block;
    position: relative;
    text-align: left;
    /*white-space: nowrap;*/
}

.nav ul.sub-menu li a, .nav ul.children li a {
    border: none;
    line-height: 18px;
    padding: 6px 0;
    text-transform: uppercase;
    margin-right: 5px;
    margin-bottom: 2px;
    display: block;
}

/* third level */
.nav ul.sub-menu li ul, .nav ul.children li ul {
    margin: 29px 0 0 5px;
}

/*indicators*/
.nav a.sf-with-ul {
    min-width: 1px;
    padding-right: 15px;
}

.nav a:focus >.sf-sub-indicator,
.nav a:hover >.sf-sub-indicator,
.nav a:active >.sf-sub-indicator,
.nav li.sfHover >a >.sf-sub-indicator,
.nav .current-menu-item > a > .sf-sub-indicator, .nav .current_page_ancestor > a > .sf-sub-indicator,
.nav .current-menu-ancestor > a > .sf-sub-indicator, div.nav ul .current_page_item > a > .sf-sub-indicator,
#header-sidebar  #lang_sel > a:hover > .sf-sub-indicator {
    /*background: url('./theme/assets/images/sprite.png') 0px -6px;*/
}

.nav ul.sub-menu a >.sf-sub-indicator, .nav ul.children a >.sf-sub-indicator {
    display: block;
    /*background: url('./theme/assets/images/sprite.png') 0px 5px;*/
    height: 13px;
    left: 95% !important;
    top: 1px;
    margin-top: 3px;
    position: absolute;
}

.nav ul.sub-menu .current-menu-item a > .sf-sub-indicator, .nav ul.sub-menu .current_page_ancestor a > .sf-sub-indicator, .nav ul.sub-menu .current-menu-ancestor a > .sf-sub-indicator, .nav ul.sub-menu .current_page_item a > .sf-sub-indicator {
    left: 94% !important;
}

.nav ul.sub-menu a:focus >.sf-sub-indicator, .nav ul.sub-menu a:hover >.sf-sub-indicator, .nav ul.sub-menu a:active >.sf-sub-indicator, .nav ul.sub-menu li.sfHover >a >.sf-sub-indicator,
.nav ul.children a:focus >.sf-sub-indicator, .nav ul.children a:hover >.sf-sub-indicator, .nav ul.children a:active >.sf-sub-indicator, .nav ul.children li.sfHover >a >.sf-sub-indicator,
#header-sidebar  #lang_sel li a:focus >.sf-sub-indicator, #header-sidebar  #lang_sel li a:hover >.sf-sub-indicator, #header-sidebar  #lang_sel li a:active >.sf-sub-indicator {
    /*background: url('./theme/assets/images/sprite.png') 0px -7px;*/
}

.nav ul.sub-menu .current-menu-item > a > .sf-sub-indicator, .nav ul.sub-menu .current_page_ancestor > a > .sf-sub-indicator,
.nav ul.sub-menu .current-menu-ancestor > a > .sf-sub-indicator, div.nav ul.sub-menu .current_page_item > a > .sf-sub-indicator,
#header-sidebar  #lang_sel > a > .sf-sub-indicator {
    /*background: url('./theme/assets/images/sprite.png') 0px 5px;*/
}

#welcome-menu-login ul li a{
    font-size: 13px;
    padding: 20px 13px;
}
#header-sidebar .widget_search_mini {
    float: left;
    display: inline-block;
margin:7px -30px;
}

#header-sidebar .search_mini{
    text-align:center;
}

.bigmenu .submenu{
    padding-top: 0px;
}
.bigmenu >.submenu{
	padding-top: 0px;
    top: 84px;
	box-shadow: 2px 3.464px 6px 0px rgba(0, 0, 0, 0.2);
	box-sizing: content-box;
	border-top: 2px solid;
}
.bigmenu > .sub-menu > .submenu{
	background-position: right bottom;

}
.nav .bigmenu div.submenu > ul.sub-menu{
	background-color:transparent;
	border-top: 0px;
}
.bigmenu .custom-item-yitimage{
    display: none;
}
.bigmenu ul.sub-menu li{
    box-shadow: none;
}
.bigmenu > .submenu > .submenu{
	display: block;
	clear: both;
	position: relative;
	left: 0px;
	margin-left: 0px;
	top: 0px;
	margin: 0px;

}
.bigmenu > .submenu > ul.sub-menu > .submenu{
	border:0px;
	display:block;
}
.bigmenu .submenu > ul.sub-menu .submenu {
    /* float: left; */
    clear: both;
    /* top: 0px; */
    margin: 0px;
    left: 0px;
    top: 0px;
    display: block;
    margin: 0px;
    position: relative;
    padding-top: 0px;
    background: transparent;
}
.nav .bigmenu div.submenu > ul.sub-menu div.submenu > ul.sub-menu{
    margin-top: 10px;
    border: 0px;
    margin-left: 0px;
    padding: 0;
    margin-top: 0px;
    padding-bottom: 15px;
    background: transparent;
    border-top: 0px;
}
.bigmenu .submenu > ul.sub-menu > li:nth-child(3n+1) {
    clear: left;
}
.bigmenu > .submenu > ul.sub-menu > li {
    margin-left: 5px;
}
.nav  .bigmenu ul.sub-menu a >.sf-sub-indicator{
    display: none;
}
.nav .bigmenu div.submenu li > div.submenu li a{

}
.bigmenu .submenu > ul.sub-menu > li {
    float: left;
    width: 220px;
    background: transparent;
}
.bigmenu ul.sub-menu {
    box-shadow: none;
}

.nav .bigmenu ul.sub-menu li a, .nav .bigmenu ul.children li a{
    border-bottom:0px;
}

#header-sidebar .search_mini label, .yith-ajaxsearchform-container label{
    display: inline-block;
    margin-right:30px;
    vertical-align: middle;
    padding-top: 6px;
    font-size: 16px;
    font-weight: 400;
	display:none;
}
#header-sidebar .widget_search_mini .search_mini_button {
    display: block;
    height: 85px;
    display: table;
    padding: 0px 20px;
}
#header-sidebar .widget_search_mini > a > span, #header-sidebar .widget_search_mini > a > i{
    vertical-align: middle;
    display: table-cell;
}
#header-sidebar .widget_search_mini > a > i{
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    transition: all 0.3s;
    font-size: 18px;
}

/* skin1 */

.skin1 #header-sidebar .widget_search_mini .search_mini_content{
    opacity: 1;
    height: 79px;
    display: none;
    z-index: 300;
    position: absolute;
    width: 100%;

    border-top: 2px solid;
    left: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* display: block; */
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.3);
}
.skin1 #header-sidebar .widget_search_mini .search_mini_content .container{
    padding: 14px 14px;
    opacity: 1;

}

.skin1 #header-sidebar .widget_search_mini .search_mini_content.animated,
.skin1 #header-sidebar .widget_nav_menu li:hover ul.sub-menu,
.skin1 #header-sidebar .widget_nav_menu  #lang_sel:hover ul li ul{
    visibility: visible;
    opacity: 1;
    height: 79px;

}

.skin2 #header-sidebar .widget_search_mini .search_mini_content {
    position: absolute;
    min-width: 277px;
    height: 79px;
    right: 0;
    opacity: 0;
    border-top: 2px solid;
    z-index: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: none;
}

.skin2 #header-sidebar .widget_search_mini .search_mini_content.animated{
    display: block;
}

.skin2 #header-sidebar .widget_search_mini .search_mini_content.animated,
#header-sidebar .widget_nav_menu li:hover ul.sub-menu,
#header-sidebar .widget_nav_menu  #lang_sel:hover ul li ul {
    opacity: 1;
    visibility: visible;
    z-index: 300;
    border: 0px;
    border-top: 2px solid;
    box-shadow: 2px 3.464px 6px 0px rgba(0, 0, 0, 0.2);
    margin-top: 2px;
}

#mini-search-submit, #mini-search-submit, .yith-ajaxsearchform-container form #yith-searchsubmit {
    background-image: url('./theme/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: 30px -55px;
    border: 1px solid ;
    width: 85px;
    height: 47px;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent:-99999px;
    outline: none;
    vertical-align: middle;
}

.yith-ajaxsearchform-container form #yith-searchsubmit {
    border: 0;
}

.skin2 #mini-search-submit, .skin2 .yith-ajaxsearchform-container #yith-searchsubmit {
    background-image: url('./theme/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: 30px -55px;
    border: 1px solid ;
    width: 36px;
    height: 37px;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent:-99999px;
    outline: none;
    vertical-align: middle;
}
#yith-searchsubmit{
     margin-left:-3px;
}

.yith-ajaxsearchform-container {
     text-align:center;
}
.autocomplete-suggestion{
    font-size: 14px;
}
.autocomplete-suggestions{
    border-radius: 0px;
    border-top: 0px;
}
#search_mini, #yith-s {
    outline:none;
    color: #302E2E;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8em;
    border: 1px solid #b9baba;
    /* border-right: none; */
    margin-right: 8px;
    width: 80%;
    height: 47px;
    padding-left: 16px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    vertical-align: middle;
}

#yith-s {
    width: 67%;
    margin-right: 0;
}

#menu-welcome-login > li div > div.login-box {
    width: 300px;
    min-height: 400px;
    margin: 0px 0px 10px;
    position: static;
}
#menu-welcome-login > li div > div.login-box.with_registration {
    width: 594px;
}

#header-sidebar  #lang_sel {
    float: left;
    padding: 0px;
    height: 87px;
}

#header-sidebar  #lang_sel li {
    position: relative;
    /* padding-right: 5px; */
}

#header-sidebar  #lang_sel ul {
    padding-left: 0px;
    vertical-align: middle;
    margin: 0;
    height: 100%;
    display: inline-block;
    list-style: none;
}

#header-sidebar  #lang_sel ul li {
    line-height: 97px;
    margin-right: 2px;
    list-style: none;
    position: relative;
}


#header-sidebar  #lang_sel > ul > li > a {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0px 16px;
    color: #212121;
    font-weight: 400;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
    position: relative;
    display: block;
    padding-right: 16px;
}

#header-sidebar  #lang_sel > ul > li > a::before,
#header-sidebar  #lang_sel > ul > li > a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 20;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

#header-sidebar  #lang_sel > ul > li > a::before {
    top: 33px;

    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

#header-sidebar  #lang_sel > ul > li > a::after {
    bottom: 33px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

#header-sidebar  #lang_sel > ul > li > a:hover,
#header-sidebar  #lang_sel > ul > li > a:focus {
    color: #d3a310;
}

#header-sidebar  #lang_sel > ul > li > a:hover::before,
#header-sidebar  #lang_sel > ul > li > a:focus::before,
#header-sidebar  #lang_sel > ul > li > a:hover::after,
#header-sidebar  #lang_sel > ul > li > a:focus::after {
    opacity: 0;
}

#header-sidebar  #lang_sel > ul > li > a:hover::before,
#header-sidebar  #lang_sel > ul > li > a:focus::before,
#header-sidebar  #lang_sel > ul > li > a:hover::after,
#header-sidebar  #lang_sel > ul > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

#header-sidebar  #lang_sel > ul > li > a > span {
    right: 0;
}
#topbar-right .widget_text{
    display: inline-block;
    margin-left: 10px;

    float: left;
}

#topbar-left .widget_text i, #topbar-left .widget_text img{
    margin-right: 4px;
    margin-left: 4px;
}
#topbar-left .widget_text i{
    margin: 0;
    padding: 0 5px;
}
#topbar-left a {
    margin: 4px;
    display: inline-block;
    line-height: normal;
}
#topbar-right .widget_text i, #topbar-right .widget_text img{
    margin-left: 8px;
}
#topbar  #lang_sel, #topbar #wcml_currency_switcher{
    margin: 0px;
    padding: 0px;
    display:inline-block;
    float: left;
}
#topbar  #lang_sel ul, #topbar #wcml_currency_switcher ul{
margin: 0px;
padding: 0px 13px;
list-style:none;
}

#topbar #wcml_currency_switcher ul{
	 padding:0px;
	 margin:0px;

}

#topbar  #lang_sel{
    position:relative;
}
#topbar  a i{
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
#topbar  #lang_sel > ul > li, #topbar #wcml_currency_switcher > ul > li{
    position: relative;
}

#topbar  #lang_sel > ul > li a, #topbar #wcml_currency_switcher > ul > li a.sbSelector{
    padding: 0px 13px 10px 13px;
    border: none;
    display: inline;

}

#topbar #wcml_currency_switcher ul.sbOptions {
	z-index: 200;
	display: block;
	background-color: #FFF;
	margin-top: 18px;
	opacity: 0.95;
    border: none;
}
#topbar #wcml_currency_switcher ul  li a{
	color: #000;
	padding: 0px 13px 10px 13px;
    font-size: 12px;
    text-transform: uppercase;
}
.icl_lang_sel_translated{
	display:none;
}
#topbar  #lang_sel > ul > li > ul > li, #topbar #wcml_currency_switcher > ul > li > ul > li{
    min-width: 80px;
    margin: 0px;
    padding: 0px;
}
#topbar  #lang_sel > ul > li > ul > li a, #wcml_currency_switcher > ul > li > ul > li a{
    color: #000;
	display: block;
    padding: 0px 13px 0px 13px;
}
#topbar  #lang_sel > ul > li > ul, #topbar #wcml_currency_switcher > ul > li > ul {
    position: absolute;
    z-index: 120;
    background-color: #fff;
    right: -10px;
    margin-top: 2px;
    display: none;
    opacity: 0.95;
    padding: 0px;
}
 #lang_sel > ul > li > a > span, #wcml_currency_switcher > ul > li > a > span  {
    display: inline-block;
    top: -11%;
    right: -16px;
}
#topbar #wcml_currency_switcher > ul > li a.sbToggle, #wcml_currency_switcher .sbHolder a.sbToggle{
    background: none;
}
 #lang_sel > ul > li > a > span.sf-sub-indicator{
    margin-left: 4px;
}
#topbar  #lang_sel > ul > li > ul > li:last-child, #topbar #wcml_currency_switcher > ul > li > ul > li:last-child{
    border: none;
}

#infobar{
    margin-left: -15px;
    margin-right: -15px;
    padding: 9px 0;
}
#infobar i {
    margin: 0 .8em;
}
/* submenu */

#header-sidebar  #lang_sel ul li ul {
    display: none;
    position: absolute;
    z-index: 10000;
    margin-top: -42px;
    margin-left: 0px;
    height: auto;
    left: 0px;
    top: 128px;

    font-size: 14px;
    padding: 10px 0 0px 10px;
    min-width: 120px;
    border-top: 2px solid;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#topbar #lang_sel > ul > li > ul{
    left: 0px;
}
#header-sidebar  #lang_sel ul > li > ul >li {
    line-height: 1em;
    display: block;
}

#header-sidebar  #lang_sel ul > li > ul > li a {
    padding: 0px 0;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
    margin-right: 13px;
    margin-bottom: 2px;
    color: #000;
}

#header-sidebar  #lang_sel ul > li > ul > li a:hover {
    color: #f7c104;
}

#header-sidebar  #lang_sel ul > li > ul > li:last-child a {
    border-bottom: 0px;
}


/* SKIN 2*/

.skin2 #nav{
    clear: both;
    text-align: center;
    border-top: 1px solid;
}
.skin2 #nav ul > li.icon-home a,
.skin2 #nav > ul > li > a {
    line-height: 49px;
}
.skin2 #logo {
    display: inline-block;
    float: none;
}
.skin2 .nav > ul > li > div {
	padding-top: 0px;
	top: 50px;
}
.skin2 .nav .megamenu > div.submenu {
    padding-top: 10px;
}

.skin2 #header-sidebar .nav > ul > li > div {
    top: 87px;
}

.skin2 #header-sidebar .nav > ul > li > div {
    top: 85px;
}

.skin2 .row1 {
    width: 100%;
    position: relative;
    text-align: center;
    min-height: 85px;
}

.skin2 #header-sidebar .yit_cart_widget .cart_wrapper {
    top: 70px;
}

.skin2 #header-sidebar {
    position: absolute;
    float: none;
    right: 0;
}

.skin2 #yith-ajaxsearchform > div > label {
    display: none;
}
.skin2 #search_mini, .skin2 #yith-s {
    width: 178px;
    margin-top: 20px;
    margin-right: 0px;
    border-right: 0px;
    height: 37px;
    /* float: left; */
    /* padding: 0px 5px; */
    /* background-position: 0px -71px; */
}
.skin2 #mini-search-submit, .skin2 .yith-ajaxsearchform-container #yith-searchsubmit {
    margin-top: 20px;
    background-position: 5px -59px;
}

.skin2 #header-sidebar .search_mini label {
    display: none;
}


/* ============ BACK TO TOP  ==================*/
#back-top {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 1000;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
    display: none;
}
#back-top a {
    display: block;
    padding: 8px 16px;
}
#back-top a i{
	margin-right:10px;
	border: 2px solid;
	border-radius: 50%;
	font-size: 11px;
	padding:2px 3px;
	opacity:0.6;
	color: #fff;
}
#back-top:hover{
	 /*background-color: #f7c104;*/

}
/*
 * = END HEAD=
 */

/*
 * = START SLOGAN =
 */
#slogan {
    background: #f8f8f8;
    padding: 27px 0 27px;
    margin: 0;
}
#slogan h2,
#slogan p {
    margin: 0;
    text-align: center;
}
/*
 * = END SLOGAN =
 */

/*
 * = START CONTENT =
 */

/* ====================== PAGINATION ========================= */

.general-pagination a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.general-pagination a.selected {
    border: 2px solid;
    border-radius: 50%;
    cursor: default;
}

/*
 * = END CONTENT =
 */

/* ====================== COPYRIGHT / FOOTER ========================= */


.boxed-layout #footer,
.boxed-layout #copyright{
    margin-right: 0;
    margin-left: 0;
}
#footer { margin-top: 30px; }
#footer-copyright-group { border-bottom: 6px solid; }
#copyright { margin-top: 35px; }
#copyright .border{ border-top: 2px solid; padding-top: 5px;}
#copyright .left, #copyright .right , #copyright .centered{ padding: 15px}
#copyright .left p, #copyright .right a,  #copyright .centered p { display: inline; }
#copyright .right { text-align: right; }
#copyright .right p{
    text-align: right;
    padding: 0px;
    margin: 0;
}
#copyright .centered  { text-align: center; }

#copyright ul.level-1 {
    list-style: none;
    display: inline-block;
    margin: 0px;

}
#copyright ul.level-1 li{
    list-style: none;
    display:inline-block;
}

#copyright ul.level-1 li::after{
    content:"//";
    margin-left:5px;
    margin-right:5px;
}

#copyright ul.level-1 li:last-child:after{
    content: "";
    margin-right: 0px;
}
#copyright .right ul.level-1 li:first-child{
    margin-left: 0px;
}
#copyright .right ul.level-1 li:last-child{
    margin-right: 0px;
}

#footer h5 { line-height: 36px; border-bottom: 1px solid; margin-bottom: 15px;}

#footer .widget_text .textwidget img { display: block; padding-top: 32px; }
#footer .widget_text .textwidget p { margin-top: 26px; }
#footer .widget_text .textwidget div.box-sections { border-bottom: 1px solid; margin-top: 10px; }
#footer .widget_text .textwidget .box-sections img { padding: 0px; float: left; margin-right: 5px; }
#footer .widget_text .textwidget .box-sections p { margin-top: 8px; }
#footer .widget_text .textwidget .box-sections a { text-decoration: none; }

/* =========================== TESTIMONIAL ==============================*/

#testimonial{ margin-bottom: 60px; margin-top: 20px; position: relative; }
#testimonial .testimonial-text p { line-height: 1.4em; margin: 6px 0 0; }
#testimonial .testimonial-name .name, #testimonial .testimonial-site .website  { margin: 0; }
#testimonial blockquote {
    font-size: 18px;
    color: #4f4c4c;
    font-weight: 700;
    line-height: 1.3em;
    word-wrap: break-word;
}
/*======== SQUARE STYLE =========*/
/*#testimonial .testimonial-name, #testimonial .testimonial-site { height: 20px; }*/
#testimonial.testimonial-square { padding: 0px; border: 1px solid; }
#testimonial.testimonial-square figure {
    width: 100%;
    overflow: hidden;
    margin: 0px;
    position: relative;
    min-height: 80px;
    max-height: 260px;
}
#testimonial.testimonial-square figure img { width: 100%; height: auto; }
#testimonial.testimonial-square .testimonial-info {
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 22px;
    min-height: 58px;
}

#testimonial.testimonial-square .testimonial-name, #testimonial.testimonial-square .testimonial-site{
    margin: 0px;
    padding: 0px;
    height: auto;
    float: right;
    clear: both;
}

#testimonial.testimonial-square .testimonial-name .name, #testimonial.testimonial-square .testimonial-site .website {
    padding: 3px 15px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    color: #000;
}
#testimonial.testimonial-square .testimonial-site .website a { color:#000;}
#testimonial.testimonial-square .testimonial-name .name { text-transform: uppercase; background: #fff; margin-bottom: 6px; }
#testimonial.testimonial-square .testimonial-site .website{ background: #f7c104; }
#testimonial.testimonial-square blockquote {
    padding: 0px;
    margin: 10px 30px;
    background: url("./theme/assets/images/testimonials-blockquote.png") no-repeat scroll 1px 6px;
    padding-left: 32px;
}

#testimonial.testimonial-square .testimonial-text {
    margin: 15px 30px;
    min-height: 0px;
    padding-bottom: 15px;
}
/* ========= COMIC STYLE ========= */
#testimonial.testimonial-comic {
    margin: 25px 0px;
    float: left;
    background: url("./theme/assets/images/testimonials-blockquote.png") no-repeat scroll 22px 35px transparent;
}
#testimonial.testimonial-comic .testimonial-box {
    border: 1px solid;
    padding: 30px 28px 38px 55px;
}
#testimonial .arrow-down:after, #testimonial .arrow-down:before {
    bottom: -15px;
    left: 54px;
}
#testimonial .arrow-down:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ffffff;
    border-width: 8px;
    margin-left: -9px;
}
#testimonial .arrow-down:before {
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-width: 7px;
    margin-left: -8px;
}
#testimonial.testimonial-comic .testimonial-meta {
    min-height: 50px;
    margin-top: 20px;
}

#testimonial.testimonial-comic .thumbnail-comic {
    width: 100px;
    float: left;
    margin-left: 15px;
}

#testimonial.testimonial-comic .thumbnail-comic img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

#testimonial.testimonial-comic .testimonial-info {
    float: left;
    text-align: left;
    min-height: 50px;
}
#testimonial.testimonial-comic .testimonial-info.nothumb { margin-left: 40px; }

#testimonial.testimonial-comic .testimonial-name, #testimonial.testimonial-comic .testimonial-name p.name {
    text-align: left;
    padding: 0px;
    font-weight: 700;
}

#testimonial.testimonial-comic .testimonial-text p:after {
    content: " ";
    background: url("./theme/assets/images/testimonials-blockquote-bottom.png") no-repeat scroll 0px 0px transparent;
    display: block;
    float: right;
    width: 22px;
    height: 21px;
    margin-top: 5px;
}
#testimonial.testimonial-comic blockquote { margin: 0 0 10px 0; }
#testimonial .testimonial-rating { color: #f7c104; float: left; font-family: 'Glyphicons Halflings'; height: 20px; overflow: hidden;}
#testimonial .testimonial-rating span {
    font-family: 'Glyphicons Halflings';
}
#testimonial .testimonial-rating span.star-empty:before{ content: "\e007\e007\e007\e007\e007";}
#testimonial .testimonial-rating span.star:before{ content: "\e006\e006\e006\e006\e006";}
#testimonial .testimonial-rating span.star{display: block; overflow: hidden; margin-top: -20px; }

/* ==== Arrow Style ==== */

.arrow, .arrow-down, .arrow-right {
	position: relative;
}
.arrow:after,
.arrow:before,
.arrow-down:after,
.arrow-down:before,
.arrow-right:after,
.arrow-right:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow:after,
.arrow:before,
.arrow-down:after,
.arrow-down:before{
    left: 32px;
}

.arrow-right:after,
.arrow-right:before{
    right: 32px;
}

.arrow:after, .arrow-right:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
}

.arrow:after {
    margin-left: -8px;
}

.arrow-right:after {
    margin-right: -8px;
}

.arrow:before, .arrow-right:before {
	border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
	border-width: 9px;
}

.arrow:before {
    margin-left: -9px;
}

.arrow-right:before {
    margin-right: -9px;
}

.arrow-left {
    border: 1px solid;
    position: relative;
}

.arrow-left:before {
	position: absolute;
    display: inline-block;
    border-top: 7px solid transparent !important;
    border-right: 7px solid;
    border-bottom: 7px solid transparent !important;
    left: -7px;
    top: 8px;
    content: '';
}

.arrow-left:after{
    position: absolute;
    display: inline-block;
    border-top: 6px solid transparent !important;
    border-right: 6px solid #ffffff !important;
    border-bottom: 6px solid transparent !important;
    left: -6px;
    top: 9px;
    content: '';
}

/* ============ BREADCRUMB ============== */
#primary .breadcrumbs{
    margin-top: -10px;
    padding-bottom: 10px;
}
#primary .breadcrumbs a{
    font-size: 14px;
}
#primary .breadcrumbs a.no-link.current {
    pointer-events: none;
}
/* ============ SELECT BOX ============== */
.sbHolder { position: relative;}
.sbHolder .sbSelector{
    display: block;
    border: 1px solid;
}
.sbHolder .sbToggle {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url('./images/sprite-toggle.png') no-repeat top;
}
.sbHolder .sbToggle.sbToggleOpen {
    background-position: bottom;
}
.sbHolder .sbOptions{
    border: 1px solid;
    padding: 6px 16px;
    margin: 19px 0 0;
    list-style: none;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 300;
}



/* =================== GOOGLE MAP ================================*/
#map{
    margin: 0;
    padding: 0;
}
#map iframe{
    width: 100%;
    height: 380px;
    margin-top: 0px;
    margin-bottom: -4px;
    padding-bottom: 0;
}
#map .border {
    position: relative;
}

#map .map_info{
    position: absolute;
    bottom: 54px;
    left: 0;
    right: 30px;
    pointer-events: none;
}

#map .container_map_box_info{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: right;
    pointer-events: auto;
}

#map .map_info .row{
    width: 100%;
    margin: 0 auto;
    max-width: 82.5em;
}

#map .map_box_info{
 /*   position: absolute;
    bottom: 54px;
    right: 54px;*/
    background: rgba(255,255,255,0.9);
    padding: 15px;
}

#map .map_box_info h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

#map .map_box_info p{
    margin-bottom: 0;
    line-height: 24px;

}

/* ================== END GOOGLE MAP ============================= */

/* ================== 404 PAGE ============================= */

.error-404-image-container {
    text-align: center;
}

.error-404-text,.error-404-text p{
    text-align: center;
    margin-bottom: 30px;
}

/* ================== END 404 PAGE ============================= */



/* ================= START SEARCHFORM ========================= */

 #searchform{
     display: inline-block;
     border: 1px solid;
 }
#searchform #s{
  border: 0;
   width: 266px;
   height:43px;
   display: block;
    float: left;
    line-height: 43px;
    padding-left: 10px;
}

#searchform #searchsubmit{
    border: 0;
    width: 43px;
    height:43px;
    display: block;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent:-99999px;
    outline: none;
    vertical-align: middle;
    float: left;
    background-image: url('./theme/assets/images/sprite.png');
    background-repeat: no-repeat;
    background-position: 12px -55px;
}



/* =============== END SEARCHFORM ============================== */




/* ================= Button ================= */

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline: none;
}

/* END BUTTON */

/* ===============================================================
Swiper slider Pagination
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */
    position: relative;

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */

    width: 100%;
}
.swiper-slide-active {
	/* Specific active slide styling: */

}
.swiper-slide-visible {
	/* Specific visible slide styling: */

}

.swiper-pagination{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
	/* Stylize pagination button: */
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #EFEFEF;
    margin: 0 3px;
    cursor: pointer;

}
.swiper-active-switch {
	/* Specific active button style: */
    background-color: #EFEFEF;
}

.swiper-visible-switch {
	/* Specific visible button style: */
}

.swiper-direction{
    cursor: pointer;
    position: absolute;
    background: transparent;
    top: 45%;
}

.swiper-direction > .fa{
    font-size: 25px;
    color: #cbcaca;
    border: 3px solid #cbcaca;
    padding: 9px 14px;
    border-radius: 50%;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition:    opacity 0.3s ease-in-out;
    -ms-transition:     opacity 0.3s ease-in-out;
    -o-transition:      opacity 0.3s ease-in-out;
    transition:         opacity 0.3s ease-in-out;
}

.swiper-direction:hover > .fa{
    filter: alpha(opacity=100);
    color: #ffffff;
    border-color: #ffffff;
    opacity: 1;
}

.swiper-direction.left{
    left: 30px;
}

.swiper-direction.right{
    right: 30px;
}

/* ===============================================================
END Swiper Slider Pagination
================================================================*/

/* ============== COLORBOX STYLE ============== */
#cboxBottomLeft{
    height: 11px;
    background-position: 0 bottom;
}

#cboxBottomCenter{
    height: 11px;
    background-position: bottom left;
}

#cboxBottomRight{
    height: 11px;
    background-position: -36px bottom;
}

#cboxClose{
    width: 20px;
    height: 20px;
    top: 6px;
    right: 6px;
    background: none;
    text-align: right;
    overflow: hidden;
}

#cboxClose:after{
    content: '\f00d';
    font-family: 'FontAwesome'!important;
    padding: 0 7px;
}


/* POSTVIDEO */
.post_video {
position: relative;
padding-bottom: 56.25%;
padding-top: 25px;
height: 0;
margin-bottom: 20px;
max-width: 100%;
}
.post_video.dailymotion embed, .post_video.youtube embed, .post_video.vimeo object, .post_video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* =================== QUICK VIEW ================ */
/* Overlay style */
.quick-view-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(240,240,240,0.96);
    z-index: 1041;
}

.portfolio_small_image.quick-view-overlay .main,
.terms-popup.quick-view-overlay .main {
    padding-top: 54px;
}

.product-quick-view.quick-view-overlay .container {
    max-width: 960px;
}

.portfolio_small_image.quick-view-overlay .head h4,
.terms-popup.quick-view-overlay .head h4 {
    text-transform: uppercase;
    font-size: 17px;
}

.portfolio_small_image.quick-view-overlay .main a.overlay-close,
.terms-popup.quick-view-overlay .main a.overlay-close {
    top: -8px;
}

/* Effects */
#wrapper {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#wrapper.overlay-open {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.quick-view-overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

.quick-view-overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.quick-view-overlay .content-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.quick-view-overlay .content-wrapper .main {
    display: table-cell;
    vertical-align: middle;
    padding-top: 84px;
}

.quick-view-overlay .main .head {
    border-bottom: 1px solid #c6c6c5;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 15px;
}

.quick-view-overlay .main .head h4 {
    font-weight: bold;
    float: left;
    margin: 0;
}

.quick-view-overlay .main .head p.price {
    font-weight: bold;
    float: right;
    font-size: 22px;
    color: #000;
    margin: 0;
}

.quick-view-overlay .main a.overlay-close {
    position: absolute;
    top: -46px;
    right: 0;
    color: #898989;
    font-family: Rokkitt;
    font-size: 16px;
}

.quick-view-overlay .main a.overlay-close i {
    border: 3px solid;
    border-radius: 50%;
    font-size: 14px;
    padding: 2px 4px;
    height: 25px;
    width: 25px;
    color: #aaa;
    margin-right: 10px;
}

.quick-view-overlay .main a.overlay-close:hover {
    color: #676767;
}

.quick-view-overlay .main a.overlay-close:hover i {
    color: #888;
}

/* quick videw rating */
.quick-view-overlay .main .head .rating-single-product {
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
}

.quick-view-overlay .main .star-rating {
    width: 64px;
    font-size: 13px !important;
    clear: none;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
}
.quick-view-overlay .main .star-rating span{
    font-size: 13px !important;
}
.ie .quick-view-overlay .main .star-rating{
    width: 70px;
}

.quick-view-overlay .main .star-rating:before {
    content: "\e006\e006\e006\e006\e006";
    color: #303233;
}

/* ======== WORDPRESS SOCIAL LOGIN =========== */

#wp-social-login-connect-options {
    position: static;
    margin: 0;
    padding:  10px 10px 10px 0;
}

#wp-social-login-connect-options a.link_socials {
    padding: 0;
}

#welcome-menu-login #wp-social-login-connect-with {
    margin-top: -20px;
    display: block;
}

#welcome-menu-login #wp-social-login-connect-options {
    margin-bottom: -25px;
}

#customer_login #wp-social-login-connect-options {
    padding:  10px 10px 10px 0;
}

#customer_login #wp-social-login-connect-options i {
    margin: 0px;
}

#customer_login .wp-social-login-widget {
    position: static;
    margin: 15px 0px;
}

#customer_login .wp-social-login-widget div {
    position: static;
    margin-left: 0;
}

/* ======== LIVE CHAT =========== */

.cx-form input, .cx-form textarea, .cx-form input:focus, .cx-form textarea:focus {
    font-family: Rokkitt, serif;
}

a.cx-form-btn {
    border: 1px solid;
    color: #000 !important;
}

a.cx-form-btn:hover {
    background-color: #000 !important;
    color: #fff !important;
}


/* bostrap fix */

.thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
}

blockquote{
    border-left: 0;
    margin:0 40px 16px 40px;
}

div#header-container{
background: url("/wp-content/uploads/2015/04/header1.jpg") no-repeat scroll right center #ffffff;
}

.testi-title{
font-size:22px; 
letter-spacing:10px;
}

div.testimonials-slider{
border:none !important;
}


#topbar{
background: #4A5A0F !important;
color: #fff !important;
}

#topbar div.container:after{
border:none !important;
}

#header-sidebar .yit_cart_widget .cart-items{
height: 70px !important;
width: 70px !important;
}

.banner-image .banner-image-slogan{
text-shadow: 0px 0px 5px #000000 !important;
}

.banner-image .banner-image-subslogan{
text-shadow: 0px 0px 6px #000000 !important;
}

a.vc_read_more{
background: #CF7326 !important;
color:#000 !important;
padding:5px 10px !important;
letter-spacing:1px !important;
text-transform:uppercase !important;
line-height:35px;
}

.wpb_teaser_grid .entry-content{
font-size: 14px !important;
  letter-spacing: 1px !important;
padding: 0px 5px;
}

h2.post-title a.link_title{
  color: #000 !important;
  letter-spacing: 1px !important;
  font-size: 22px !important;
}


div#payment{
display:none !important;
}

div#payment.woocommerce-checkout-payment{
display: inherit !important;
}

.woocommerce ul.products li.product .info-product.slideup .product_cat{
display:none !important;
}