#header-sidebar .widget_search_mini > a > i { color: #484848; }#header-sidebar .widget_search_mini > a > i:hover { color: #f7c104; }h1, h2, h3, h4, h5, h6 { font-family: 'Rokkitt', sans-serif; }body, p, li, address, dd, blockquote, td, th, span, .cx-widget, .cx-widget *, .cx-chat-btn, .cx-chat-btn * { font-family: 'Rokkitt', sans-serif; }.highlight, .toggle span.opened, .title-highlight, .team-section .member-info .member-name .role, #primary .testimonials-slider ul.testimonial-content li blockquote p:before { color: #a4bc48; }.special-font, .special-font a.btn-alternative { font-size: 12px; font-family: 'Satisfy', sans-serif; color: #3a3a39; font-style: normal; font-weight: 400; text-align: left; text-transform: none; } { background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }.boxed-layout #wrapper { background-color: #ffffff; }.shade-1, .fa.shade-1, #footer span.icon-circle i.fa, .blog-slider .next-blog:hover .icon-circle i.fa, .blog-slider .prev-blog:hover .icon-circle i.fa, .blog-masonry .masonry-brick .yit_post_content a:hover, .images-slider-sc .flex-direction-nav li a:hover:before { color: #a4bc48; }.shade-2, #primary .testimonials-slider ul.testimonial-content li p.meta, #primary .testimonials-slider ul.testimonial-content li p.meta a, #primary div.owl-prev:hover i, #primary div.owl-next:hover i,.images-slider-sc ul li a.flex-prev:hover i,.images-slider-sc ul li a.flex-next:hover i,.logos-slider .nav .prev:hover i,.logos-slider .nav .next:hover i,#primary .testimonial-widget .owl-buttons .owl-prev:hover i,#primary .testimonial-widget .owl-buttons .owl-next:hover i, .blog-masonry .masonry-brick .yit_post_content a { color: #799707; }.pricing_box.price-table.large div.head span.price,
                            #wp-calendar th, #wp-calendar #today,
                            #wp-calendar #today a,
                            .blog.small .yit_post_format_icon,
                            .blog.big .yit_post_format_icon,
                            .blog-masonry .yit_post_format_icon,
                            .service-wrapper .image-wrapper.border:hover,
                            .widget_price_filter .ui-slider .ui-slider-range,
                            .widget_price_filter .ui-slider .ui-slider-handle { background-color: #a4bc48; }.blog.big .yit_post_meta,
                          .blog.small .yit_post_content h1.post-title,
                          .blog.small .yit_post_content h2.post-title,
                          .blog.small .yit_post_meta,
                          .single-post .blog.big .share,
                          span.share-text,
                          .single-post .blog.big .yit_post_meta,
                          .single-post .blog.small .yit_post_meta,
                          .single-post .blog.small .yit_post_content,
                          #comments ol li .content,
                          li.product .added_to_cart_label,
                          #copyright .border,
                          #primary .testimonials-slider,
                          .portfolio_big_image h2.post-title.portfolio-title,
                          .woocommerce .cart-collaterals table tr.order-total,
                          .woocommerce-page .cart-collaterals table tr.order-total,
                          #order_review table tfoot tr.total,
                          #order_review table tfoot,
                          #testimonial .arrow-down:before,
                          .portfolio_small_image .portfolio .title-bar:after,
                          .portfolio_small_image .portfolio .title-bar:before,
                          .features-tab-container ul.features-tab-labels li.features-tab-0,
                          .woocommerce ul.products li.product-category .product-category-link .show-category-background h3,
                          #bbpress-forums div.bbp-reply-author .bbp-reply-ip,
                          #yit-popup-footer,
                          .skin2 #nav { border-top-color: #cdcdcd; }.yit_post_quote,.arrow:before,
						  li.product .added_to_cart_label,
						  #footer h5,
						  #footer .widget_text .textwidget div.box-sections,
                          .filters-container ul.filters,
                          .yit_portfolio_extra_info h3,
                          .yit_post_content h3.portfolio_content_title,
                          .woocommerce div.product .single-product-tabs ul.tabs div.tab_name,
						  .faq.filters,
						  #faqs-container .faq-wrapper .faq-title,
						  #primary .testimonials-slider,
						  .toggle .tab-index,
						  .woocommerce-page table.shop_table th,
						  .blog.small .yit_post_quote,
						  #payment li,
						  q,
						  .box-title.box-title-line-middle .title-bar:after,
						  .box-title.box-title-line-middle .title-bar:before,
						  .box-title.box-title-line-around .title-bar:after,
						  .box-title.box-title-line-around .title-bar:before,
						  .widget.recent-comments h3,
						  #my-account-content table tr.order,
						  .woocommerce #inquiry-form .product-inquiry,
						  #yith-wcwl-form table.wishlist_table tbody tr,
						  .team-section .member-info .member-name,
						  .team-section .links,
						  .features-tab-container ul.features-tab-labels li,
						  .widget h3,
						  .widget.widget_shopping_cart .product_list_widget li,
						  .woocommerce-page ul.digital-downloads li,
						  .woocommerce ul.products li.product-category .product-category-link .show-category-background h3,
						  .arrow-right:before,.sitemap > div h3,
						  #bbpress-forums li.bbp-body ul.forum,
						  #bbpress-forums li.bbp-body ul.topic,
						  #bbpress-forums #bbp-single-user-details #bbp-user-navigation li,
						  #bbpress-forums div.bbp-reply-author .bbp-author-role,
						  .yit_shortcodes.last-post p.date,
						  .widget.yith-woo-ajax-navigation ul.yith-wcan-list li:after,
						  .widget.woocommerce.widget_layered_nav ul li:after,
						  .widget.yith-woocompare-widget ul.products-list li:after,
						  .widget.widget_display_forums ul li,
						  .widget.widget_display_stats dt:after,
						  .widget.widget_display_replies ul li:after,
						  .widget.widget_display_topics ul li:after,
						  .widget.contact-info h2,
						  .woocommerce div.product .related.products > h3:after,
						  .woocommerce-page div.product .related.products > h3:after,
                          .woocommerce div.product .upsells.products > h3:after,
                          .woocommerce-page div.product .upsells.products > h3:after,
                          .woocommerce .cross-sells > h3:after, .woocommerce-page .cross-sells > h3:after,
                          .woocommerce h3.products-slider-title,
                          .yit-maintenance-mode .socials,
                          #topbar div.container:after,
                          .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget li,
                          #header-sidebar > div.yit_cart_widget .product_list_widget li,
                          #buddypress div.item-list-tabs ul li a,
                          #buddypress div.item-list-tabs ul li span,
                          #buddypress div.item-list-tabs ul:after,
                          #buddypress table.notifications tbody tr,
                          #buddypress table#message-threads tr td,
                          #buddypress table#message-threads tr.read td,
                          #buddypress table#message-threads tr.unread td,
                          #buddypress table#message-threads tr.alt td,
                          #buddypress ul.item-list li,
                          #buddypress div.item-list-tabs ul li span { border-bottom-color: #cdcdcd; }.form-control:focus,
						  .blog.small .yit_post_content,
						  #comments ol li .content,
						  #comments ol li .avatar img,
						  #commentform input:not([type=submit]),
						  #commentform .comment-form-comment #comment,
						  .tabs-container ul.tabs,
						  #testimonial.testimonial-square,
 						  #testimonial.testimonial-comic .testimonial-box,
 						  .woocommerce #reviews #comments ol.commentlist li .comment-text,
 						  .woocommerce-page #reviews #comments ol.commentlist li .comment-text,
 						  .woocommerce table.shop_table.coupon td input.input-text,
 						  .woocommerce table.shop_table.shipping p input.input-text,
 						  .sbHolder .sbOptions,
 						  .sbHolder a.sbSelector,
 						  .box-title.box-title-line-around h5,
 						  .box-title.box-title-line-around h2,
 						  .woocommerce form .form-row div.chosen-drop,
 						  .woocommerce form .form-row a.chosen-single,
 						  .woocommerce .form-row input[type="text"],
 						  .woocommerce .form-row input[type="password"],
 						  .woocommerce .form-row input[type="email"],
 						  .woocommerce-page form .form-row div.chosen-drop,
 						  .woocommerce-page form .form-row a.chosen-single,
 						  .woocommerce-page .form-row input[type="text"],
 						  .woocommerce-page .form-row input[type="password"],
 						  .woocommerce-page .form-row input[type="email"],
 						  #my-account-sidebar .user-profile div.user-image,
 						  #my-account-sidebar ul li,
 						  #my-account-sidebar ul,
 						  #my-account-sidebar div.user-profile,
 						  .widget.recent-comments .recent-comments-list .comment,
 						  .portfolio_small_image .yit_portfolio_thumbnail .thumbnail .swiper-container .swiper-direction i,
 						  #wishlist-share div.share-link,
 						  .blog_section.post_meta,
 						  .features-tab-container ul.features-tab-labels,
 						  .woocommerce form .form-row textarea,
 						  #primary .parallaxeos_outer .testimonials-slider ul.testimonial-content div.owl-next,
 						  #primary .parallaxeos_outer .testimonials-slider ul.testimonial-content div.owl-prev,
 						  #primary .testimonial-widget .testimonial-content,
 						  .arrow-left,
 						  .arrow-left:after,
 						  .arrow-left:before,
 						  .widget.widget_search #searchform,
 						  #primary div.owl-prev,
 						  #primary div.owl-next,
 						  .widget.teaser div.teaser,
 						  .widget.widget_shopping_cart .product_list_widget .mini-cart-thumb img,
 						  .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget img,
 						  #header-sidebar > div.yit_cart_widget .product_list_widget img,
 						  .call-three,
 						  .sticky .blog.small,
 						  .sticky .blog.big,
 						  .blog-masonry .sticky.masonry-brick .yit_post_content,
 						  .call-to-action-two,
 						  .banner-container,
 						  .woocommerce ul.products li.product-category .product-category-link,
 						  .widget.testimonial-widget ul li div.testimonial-description,
 						  .logos-slider .nav a.prev,.logos-slider .nav a.next,
 						  .images-slider-sc ul li a.flex-prev,.images-slider-sc ul li a.flex-next,
 						  .blog-slider .icon-circle,
 						  .blog-masonry .masonry-brick .yit_post_content,
 						  .comment-flexslider,
 						  .quick-view-overlay .main .head,
 						  .woocommerce.widget.widget_product_search #searchform,
 						  #yith-s,
 						  .widget.widget_meta ul > li > a:before,
                          .widget.widget_pages ul > li > a:before,
                          .widget.yit_recent_reviews .review-content,
						  .yit_shortcodes.recent-post .thumb-img img,
                          .widget.recent-posts .recent-post .hentry-post .thumb-img,
                          #bbp-search-form,
                          div.bbp-template-notice,
                          div.bbp-template-notice.info,
                          #bbpress-forums div.bbp-the-content-wrapper,
                          #bbpress-forums input[type="text"],
                          #bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar,
                          #bbpress-forums #bbp-single-user-details,
                          #item-header-avatar img.avatar,
                          #bbpress-forums #bbp-your-profile fieldset input,
                          #bbpress-forums #bbp-your-profile fieldset textarea,
                          #bbpress-forums li.bbp-body div.bbp-reply-content,
                          #bbpress-forums li.bbp-body div.bbp-topic-content,
                          #bbpress-forums li.bbp-body div.hentry,
                          #bbpress-forums li.bbp-body div.bbp-topic-content:before,
                          #bbpress-forums li.bbp-body div.bbp-reply-content:before,
 						  .yit_shortcodes.last-post p.date,
						  .widget.widget_price_filter #min_price,
                          .widget.widget_price_filter #max_price,
                          .bbp_widget_login input[type="text"],
                          .bbp_widget_login input[type="password"],
                          .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="text"],
                          .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="password"],
                          .woocommerce .order_details li, .woocommerce-page .order_details li,
                          .featured-column,
                          .text-with-image,
                          .contact-form li.textarea-field div.input-prepend textarea,
                          .contact-form li div.input-prepend input,
                          .yit-maintenance-mode .socials a span,
                          .yit-maintenance-mode form.newsletter input.text-field,
                          #searchform,
                          .nav .megamenu ul.sub-menu > li,
                          .newsletter_form_email input.email-field,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control,
                          #welcome-menu-login.nav ul > li #customer_login .customer-login-box2,
                          #customer_login .col-2,
                          #buddypress div.item-list-tabs ul li.current a,
                          #buddypress div.item-list-tabs ul li.selected a,
                          #buddypress div.dir-search label input[type="text"],
                          #buddypress ul li .item-container,
                          #buddypress #whats-new,
                          #buddypress form#whats-new-form textarea,
                          #buddypress div.activity-comments form .ac-textarea,
                          #buddypress .standard-form input[type=text],
                          #buddypress .standard-form input[type=password],
                          #buddypress .standard-form textarea,
                          #buddypress #settings-form table tbody tr,
                          #buddypress .groups-members-search form label input[type="text"],
                          #buddypress #search-message-form label input[type="text"] { border-color: #cdcdcd; }.border-line { background-color: #cdcdcd; }.yit_post_quote,
						  .filters-container ul.filters,
						  .faq.filters,
						  .single-post .blog.big .share,
						  .team-section .links,
						  q,
						  .woocommerce table.order_details tfoot tr:last-child,
                          .yit-maintenance-mode .socials { border-top-color: #a4bc48; }.blog.big .yit_post_meta,
						  .single-post .blog.big .yit_post_meta,
						  .single-post .blog.small .yit_post_meta,
						  #footer-copyright-group,
                          .portfolio_big_image h2.post-title.portfolio-title,
                          .yit_portfolio_extra_info .portfolio_meta,
                          .parallaxeos_container,
                          .single-product.woocommerce div.product div.summary h1,
                          .woocommerce table.shop_table.cart,
                          .woocommerce .cart-collaterals table tr.order-total,
                          .woocommerce-page .cart-collaterals table tr.order-total,
                          #order_review table tfoot tr.total,
                          .tabs-container ul.tabs li.current,
                          .tabs-container ul.tabs li:hover,
                          .sticky .blog.small,
                          .sticky .blog.big,
                          .blog-masonry .sticky.masonry-brick .yit_post_content,
                          .features-tab-container ul.features-tab-labels li.current-feature,
                          .features-tab-container ul.features-tab-labels li.current-feature:hover,
                          #bbpress-forums li.bbp-header,
                          #buddypress div.item-list-tabs#subnav ul li[id$="-select"] .sbHolder > a.sbSelector:hover,
                          #buddypress #whats-new-post-in-box .sbHolder > a.sbSelector:hover,
                          #buddypress .messages-options-nav .sbHolder > a.sbSelector:hover,
                          #buddypress div.item-list-tabs#subnav > ul,
                          #buddypress table.notifications thead tr,
                          #buddypress #profile-edit-form ul.button-nav li.current a { border-bottom-color: #a4bc48; }.blog .yit_post_quote,
						  .blog.small .yit_post_meta_date,
						  .single-post .blog.small .yit_post_meta_date,
                          #comments ol li .avatar.is_author img,
                          #commentform input:not([type=submit]):focus,
                          #commentform .comment-form-comment #comment:focus,
                          .widget.recent-posts .recent-post .hentry-post p.post-date,
                          .portfolio-filterable #portfolio_filterable li .portfolio-thumb .portfolio-overlay,
                          .portfolio-pinterest #portfolio_pinterest .work .portfolio-thumb .portfolio-overlay,
                          .portfolio_small_image .yit_post_content .yit_portfolio_extra_info,
                          .portfolio-slider .portfolios li .portfolio-thumb .portfolio-overlay,
                          .woocommerce #reviews #comments ol.commentlist li img.avatar,
                          .woocommerce-page #reviews #comments ol.commentlist li img.avatar,
                          #primary .parallaxeos_outer .testimonials-slider ul.testimonial-content div.owl-next:hover,
                          #primary .parallaxeos_outer .testimonials-slider ul.testimonial-content div.owl-prev:hover,
                          .toggle.with-border .tab-index span,
                          .woocommerce .cart-collaterals,
                          .blog.small .thumbnail:after,
                          .blog-masonry .masonry-brick .yit_post_meta_date,
                          .woocommerce-page .cart-collaterals,
                          .woocommerce table.shop_table.coupon td input.input-text:focus,
                          .woocommerce table.shop_table.shipping p input.input-text:focus,
                          .sbHolder a.sbSelector:focus,
                          .sbHolder a.sbFocus,
                          #order_review,
                          #customer_details .details input[type="text"]:focus,
                          .woocommerce form .form-row .chosen-with-drop a.chosen-single,
                          .woocommerce form .form-row .chosen-with-drop .chosen-drop,
                          .widget.recent-comments .recent-comments-list .the-post .avatar,
                          #footer .icon-circle,
                          #primary div.owl-prev:hover,
                          #primary div.owl-next:hover,
                          .portfolio_small_image .yit_portfolio_thumbnail .thumbnail .swiper-container .swiper-direction:hover i,
                          .blog_section .yit_post_meta_date,
                          .contact-form li div.input-prepend input:focus,
                          .contact-form li div.input-prepend input:hover,
                          .contact-form li div.input-prepend textarea:focus,
                          .contact-form li div.input-prepend textarea:hover,
                          .random-numbers span.icon-circle,
                          .general-pagination a.selected,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=text]:focus,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=text]:hover,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=email]:focus,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=email]:hover,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=password]:focus,
                          #welcome-menu-login.nav ul > li #customer_login .form-group .form-control[type=password]:hover,
                          .woocommerce form .form-row textarea:focus,
                          .woocommerce form .form-row textarea:hover,
                          .team-section .tabs .thumb .overlay,
                          .logos-slider .nav a.prev:hover,
                          .logos-slider .nav a.next:hover,
                          .images-slider-sc ul li a.flex-prev:hover,
                          .images-slider-sc ul li a.flex-next:hover,
                          .blog-slider .next-blog:hover .icon-circle,
                          .blog-slider .prev-blog:hover .icon-circle,
                          .comment-flexslider .avatar,
                          .newsletter_form_email input.email-field:focus,
                          .newsletter_form_email input.email-field:hover,
                          .yit_shortcodes.recent-post p.post-date,
                          #bbpress-forums #bbp-your-profile fieldset input:focus,
                          #bbpress-forums #bbp-your-profile fieldset textarea:focus,
                          #bbpress-forums #bbp-your-profile fieldset input:hover,
                          #bbpress-forums #bbp-your-profile fieldset textarea:hover,
                          #bbpress-forums input[type="text"]:focus,
                          #bbpress-forums input[type="text"]:hover,
                          .widget.widget_price_filter #min_price:hover,
                          .widget.widget_price_filter #max_price:hover,
                          .widget.widget_price_filter #min_price:focus,
                          .widget.widget_price_filter #max_price:focus,
                          .bbp_widget_login input[type="text"]:hover,
                          .bbp_widget_login input[type="password"]:hover,
                          .bbp_widget_login input[type="text"]:focus,
                          .bbp_widget_login input[type="password"]:focus,
                          .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="text"]:focus,
                          .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="password"]:focus,
                          .service-wrapper .image-wrapper.border,
                          .yit-maintenance-mode .socials a:hover span,
                          .dropcap,
                          #buddypress div.dir-search label input[type="text"]:focus,
                          #buddypress div.dir-search label input[type="text"]:hover,
                          #buddypress #whats-new-textarea textarea#whats-new:focus,
                          #buddypress #whats-new-textarea textarea#whats-new:hover,
                          #buddypress div.activity-comments form .ac-textarea:hover,
                          #buddypress div.activity-comments form .ac-textarea:focus,
                          #buddypress .standard-form input[type=text]:focus,
                          #buddypress .standard-form input[type=password]:focus,
                          #buddypress .standard-form input[type=text]:hover,
                          #buddypress .standard-form input[type=password]:hover,
                          #buddypress .standard-form textarea:hover,
                          #buddypress .standard-form textarea:focus,
                          #buddypress #settings-form table thead tr,
                          #buddypress .groups-members-search form label input[type="text"]:hover,
                          #buddypress .groups-members-search form label input[type="text"]:focus,
                          #buddypress #search-message-form label input[type="text"]:hover,
                          #buddypress #search-message-form label input[type="text"]:focus { border-color: #a4bc48; }.fa,
                                .widget_product_categories ul.product-categories > li > a:before,
                                .widget_nav_menu ul.menu > li > a:before,
                                .widget.widget_meta ul > li > a:before,
                                .widget.widget_pages ul > li > a:before,
                                .team-section .links a span,
                                .widget.featured-products .flex-direction-nav li a,ul.short li:before,
                                .comment-flexslider ul.flex-direction-nav li a,
                                .widget.yit_toggle_menu ul.menu > li > a:before,.sitemap ul > li:before,
                                .widget.widget_categories ul > li,
                                .widget.widget_archive ul > li,
                                #bbpress-forums #bbp-single-user-details #bbp-user-navigation li span:before,
                                .widget.widget_display_forums ul li a.bbp-forum-title:before,
                                .widget.widget_display_views ul li a.bbp-view-title:before,
                                .widget.widget_display_topics ul li a.bbp-forum-title:before,
                                #faqs-container .faq-wrapper .faq-title h4:before,
                                a.yith-wcan-reset-navigation.button:before,
                                .widget.woocommerce.widget_layered_nav_filters ul li:before,
                                .yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li.chosen:before,
                                .yith-woocompare-widget ul.products-list a.remove,
                                #title_bar .product-nav .next a, #title_bar .product-nav .prev a,
                                .woocommerce table.shop_table.cart a .remove,
                                table.wishlist_table td.product-remove a .remove,
                                .faq-filters ul > li > a:before,
                                .portfolio_share .social-icon a,
                                .portfolio_share .social-icon a,
                                .yit-maintenance-mode .socials a span,
                                .yit-maintenance-mode form.newsletter .input-text span,
                                #faqs-container .faq-wrapper .faq-title .faq-icon,
                                .images-slider-sc .flex-direction-nav li a:before { color: #b4b4b4; }a, a:visited,
                                  .portfolio-filterable #portfolio_filterable li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title,
                                  .portfolio-pinterest #portfolio_pinterest .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title,
                                  .portfolio_small_image .yit_portfolio_thumbnail .thumbnail .swiper-container .swiper-direction:hover i, .team-section .tabs .thumb .overlay .inner,
                                  .woocommerce ul.products li.product-category .product-category-link .show-category-background .discovery-text, .products-slider-wrapper .es-nav-prev:hover span, .products-slider-wrapper .es-nav-next:hover span,
                                  .categories-slider-wrapper .es-nav-prev:hover span, .categories-slider-wrapper .es-nav-next:hover span, .widget.featured-products .flex-direction-nav li a:hover, .widget.yit_toggle_menu ul.menu > li.opened > a:before, .widget.yit_toggle_menu ul.menu > li:hover > a:before,
                                  .yit_shortcodes.recent-post .text a.read-more, .yit_shortcodes.recent-post .text a,
                                  #faqs-container .faq-wrapper .faq-title.active h4:before,
                                  #buddypress #activity-stream .activity-header p a.activity-time-since:hover span,
                                  #buddypress #activity-stream  .activity-comments .acomment-meta a.activity-time-since:hover span,
                                  #buddypress a:hover { color: #a4bc48; }a:hover,
						  a:active,
						  #footer .widget.woocommerce.widget_top_rated_products li a:hover .product_title,
						  #footer .widget.woocommerce.widget_products li a:hover .product_title,
						  .product-wrapper .product_cat a:hover,
						  .product-wrapper .product_cat a:active,
						  .tabs-container ul.tabs li.current h4 a,
						  .tabs-container ul.tabs li:hover h4 a,
                          .woocommerce table.shop_table.cart td.product-name div.product-name a:hover,
                          .widget.recent-comments .recent-comments-list .the-post .comments-info-wrapper .author .url:hover,
                          .widget.recent-comments .recent-comments-list .the-post .comments-info-wrapper .author .email:hover,
                          .widget.recent-comments .recent-comments-list .the-post .comments-info-wrapper .title:hover,
                          .filters.faq li a:hover,
                          .filters.faq li a.active,
                          .filters-container ul.filters li a:hover,
                          .filters-container ul.filters li a.active,
                          .portfolio_big_image h2.post-title.portfolio-title a:hover,
                          .portfolio_big_image h2.post-title.portfolio-title a:active,
                          .portfolio_small_image h2.post-title.portfolio-title a:hover,
                          .portfolio_small_image h2.post-title.portfolio-title a:active,
                          table.wishlist_table td.product-name-price a:hover,
                          table.shop_table td.order-number a:hover,
                          #my-account-sidebar ul li > a:hover,
                          #my-account-sidebar ul li > a.active,
                          #wishlist-share .yith-wcwl-share li a:hover,
                          .team-section .links a:hover,
                          #list-or-grid a:hover span.fa,
                          #list-or-grid a.active span.fa,
                          #number-of-products a:hover,
                          #number-of-products a.active,
                          tr.order_item td.product-name a:hover,
                          .features-tab-container ul.features-tab-labels li.current-feature h4 a,
                          .features-tab-container ul.features-tab-labels li.current-feature:hover h4 a,
                          .widget_product_categories a:hover,
                          .widget_nav_menu a:hover,
                          .team-section .links a:hover span,
                          .widget.widget_shopping_cart .product_list_widget .mini-cart-item-info a:hover,
                          .widget.last-tweets p a:hover,
                          .widget.woocommerce .product_cat a:hover,
                          .widget.recent-posts .recent-post .text > div.post-content > a.title:hover,
                          .widget.woocommerce a:hover .product_title,
                          .widget.recent-posts .recent-post span.author a:hover,
                          .widget.recent-posts .recent-post span.num-comments a:hover,
                          .widget_meta a:hover,
                          .widget_pages a:hover,
                          .woocommerce-page ul.digital-downloads li a:hover,
                          .woocommerce #inquiry-form .product-inquiry:hover h4,
                          .woocommerce div.product .single-product-tabs ul.tabs div.tab_name:hover h4,
                          table.compare-list .remove td a:hover,
                          .single-product.woocommerce div.product .product-share .socials-text a:hover,
                          .single-product.woocommerce div.product .product_meta .posted_in a:hover,
                          .widget.yit_products_category .product_cat a:hover,
                          .widget.yit_products_category a:hover .product_title,
                          ul.featured-products-slider li .product_name:hover,
                          .comment-flexslider ul.flex-direction-nav li a:hover,
                          .widget.yit_toggle_menu ul.sub-menu li a:hover,
                          .sitemap ul > li a:hover,
                          .sitemap > div h2 a:hover,
                          div.tagcloud a:hover,
                          div h2 a,div.tagcloud a:hover,
                          .widget.widget_categories ul > li a:hover,
                          .widget.widget_archive ul > li a:hover,
                          .widget.yit_recent_reviews .product-review-link a:hover,
                          #modal-window div.modal-opener a:hover,
                          .yit_shortcodes.recent-post .text a.title:hover,
                          .yit_shortcodes.recent-post .text a.read-more:hover,
                          .yit_shortcodes.recent-post .post-meta a:hover,
                          .yit_shortcode.post-list a:hover,
                          #bbpress-forums li.bbp-body ul.forum li a:hover,
                          #bbpress-forums li.bbp-body ul.topic li a:hover,
                          #bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a,
                          #bbpress-forums #bbp-single-user-details #bbp-user-navigation li:hover a,
                          #bbpress-forums div.bbp-reply-author a.bbp-author-name:hover,
                          #bbpress-forums span.bbp-admin-links a:hover,
                          #bbpress-forums div.bbp-meta a:hover,
                          #bbpress-forums div.bbp-template-notice a:hover,
                          #bbpress-forums ul.bbp-reply-revision-log li.bbp-reply-revision-log-item a:hover,
                          .widget.yith-woo-ajax-navigation.opened h3 i,
                          .widget.yith-woo-ajax-navigation h3:hover i,
                          .yit_shortcodes.last-post h3 a:hover,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-list li a:hover,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-list li.chosen a,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-list li.chosen small,
                          .widget.woocommerce.widget_layered_nav ul li a:hover,
                          .widget.woocommerce.widget_layered_nav ul li.chosen a,
                          .widget.widget_display_forums ul li a:hover,
                          .widget.widget_display_views ul li a:hover,
                          .widget.widget_display_replies ul li a:hover,
                          .widget.widget_display_replies ul li a.bbp-author-name:hover,
                          .widget.widget_bp_core_members_widget.buddypress.widget ul#members-list li.vcard a:hover,
                          .widget.widget_bp_groups_widget.buddypress.widget ul#groups-list li.bp-single-group a:hover,
                          .widget.widget_bp_core_friends_widget.buddypress.widget ul#friends-list li.vcard a:hover,
                          .widget.widget_bp_core_members_widget.buddypress.widget .item-options a:hover,
                          .widget.widget_bp_groups_widget.buddypress.widget .item-options a:hover,
                          .widget.widget_bp_core_friends_widget.buddypress.widget .item-options a:hover,
                          .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form .bp-login-widget-register-link a:hover,
                          .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-link a:hover,
                          .widget.widget_display_topics ul li a:hover,
                          .widget.widget_display_topics ul li a.bbp-author-name:hover,
                          .bbp-logged-in h4 a:hover,
                          nav.woocommerce-pagination ul.page-numbers li a:hover,
                          nav.woocommerce-pagination ul.page-numbers li span.current,
                          .yitpopup_wrapper a.close:hover:before,
                          #cboxClose:hover:after,
                          .modal-shortcode .modal .modal-header a.close span:hover:before,
                          a.yith-wcan-reset-navigation.button:hover,
                          a.yith-wcan-reset-navigation.button:hover:before,
                          .widget.woocommerce.widget_layered_nav_filters ul li a:hover,
                          .widget.yith-woocompare-widget ul li a:hover,
                          .yith-woocompare-widget ul.products-list a.remove:hover,
                          .woocommerce div.product .single-product-tabs ul.tabs div.tab_name.active span,
                          #title_bar .product-nav .next:hover .fa-chevron-right,
                          #title_bar .product-nav .prev:hover .fa-chevron-left,
                          .woocommerce table.shop_table.cart a:hover .remove,
                          table.wishlist_table td.product-remove a:hover .remove,
                          .faq-filters ul > li > a:hover,
                          .yit-maintenance-mode .socials a:hover span,
                          .yit-maintenance-mode .socials a:hover span,
                          #faqs-container .faq-wrapper .faq-title .faq-icon.minus,
                          #buddypress #pag-top .pagination-links a:hover,
                          #buddypress #pag-top .pagination-links span.page-numbers.current,
                          #buddypress ul li .item-container .item .item-username a:hover,
                          #buddypress #activity-stream .activity-header p a.activity-time-since span,
                          #buddypress #activity-stream  .activity-comments .acomment-meta a.activity-time-since span,
                          .widget.widget_bp_groups_widget.buddypress.widget ul#groups-list li a:hover,
                          #buddypress #group-settings-form ul li  h5 > a:hover,
                          #buddypress a { color: #799707; }p, li, address, dt, dd, blockquote, td, th,
                            .product-wrapper .product_cat a,
                            .widget.woocommerce .product_cat a,
                            .product_meta .posted_in a,
                            .product_meta .tagged_as a,
                            .product-share .socials-text a,
                            .woocommerce-breadcrumb a,
                            .breadcrumbs a,
                            .sbHolder a,
                            .woocommerce table.shop_table.cart td.product-name div.product-name a,
                            .form-row a.chosen-single span, #payment label,
                            .filters.faq li a,
                            .filters-container ul.filters li a, #wishlist-share .yith-wcwl-share li a,
                            .random-numbers p,
                            .widget.yit_products_category .product_cat a,
                            .yit_portfolio_extra_info .portfolio_meta span.meta_content,
                            table.wishlist_table td.product-name-price a,
                            .wishlist_table tr td.product-stock-status span.wishlist-in-stock,
                            table.shop_table td.order-number a,
                            .team-section .links a,
                            .woocommerce .order-info mark,
                            tr.order_item td.product-name a,
                            .widget_product_categories a,
                            .widget_nav_menu a,
                            .widget_meta a,
                            .widget_pages a,
                            .widget.recent-posts .recent-post span.num-comments a,
                            .widget.recent-posts .recent-post span.author a,
                            .widget.recent-posts .recent-post span.author,
                            .widget.recent-posts .recent-post span.num-comments,
                            .newsletter-cta-form-container .text h2,
                            .widget.recent-posts .recent-post span.author,
                            .widget.recent-posts .recent-post span.num-comments,
                            .newsletter-cta-form-container .text h2,
                            .woocommerce-page ul.digital-downloads li a,
                            table.compare-list .remove td a,
                            .sitemap ul > li a,.sitemap > div h2 a,div.tagcloud a,
                            table.compare-list .remove td a,
                            .sitemap ul > li a,.sitemap > div h2 a,
                            div h2 a,div.tagcloud a,
                            .widget.widget_categories ul > li a,
                            .widget.widget_archive ul > li a,
                            .widget.yit_recent_reviews .product-review-link a,
                            #modal-window div.modal-opener a,
                            .yit_shortcodes.recent-post .post-meta a,
                            #bbpress-forums li.bbp-body ul.forum li a,
                            #bbpress-forums li.bbp-body ul.topic li a,
                            #bbpress-forums #bbp-single-user-details #bbp-user-navigation li a,
                            .woocommerce form .form-row label, .woocommerce-page form .form-row label,
                            #my-account-sidebar ul li > a,
                            #bbpress-forums div.bbp-reply-author a,
                            #bbpress-forums fieldset label[for],
                            #bbpress-forums #bbp-your-profile fieldset label[for],
                            #bbpress-forums input[type="text"],
                            .ac_results ul,
                            .ac_results ul li,
                            .widget.widget_price_filter #min_price,
                            .widget.widget_price_filter #max_price,
                            ul.yith-wcan-list li a,
                            ul.yith-wcan-label li a,
                            .widget.widget_layered_nav ul li a,
                            .widget.widget_display_forums ul li a,
                            .widget.widget_display_views ul li a,
                            .widget.widget_display_replies ul li a,
                            .bbp-reply-header a.bbp-reply-permalink,
                            .widget.widget_bp_core_members_widget.buddypress.widget .item-options a,
                            .widget.widget_bp_groups_widget.buddypress.widget .item-options a,
                            .widget.widget_bp_core_friends_widget.buddypress.widget .item-options a,
                            .bbp_widget_login label[for],
                            .bbp_widget_login input[type="text"],
                            .bbp_widget_login input[type="password"],
                            .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="text"],
                            .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="password"],
                            .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form label,
                            .widget.widget_display_topics ul li a,
                            .yitpopup_wrapper a.close:before,
                            #cboxClose:after,
                            .modal-shortcode .modal .modal-header a.close span:before,
                            a.yith-wcan-reset-navigation.button,
                            .widget.woocommerce.widget_layered_nav_filters ul li a,
                            .widget.yith-woocompare-widget ul li a,
                            .faq-filters ul > li > a,
                            .blog-masonry .masonry-brick .yit_post_content p,
                            #buddypress div.item-list-tabs#subnav ul li a,
                            #buddypress div.item-list-tabs#subnav ul li[id$="-select"] .sbHolder a,
                            #buddypress .messages-options-nav .sbHolder a,
                            #buddypress #whats-new-post-in-box .sbHolder a,
                            #buddypress div.item-list-tabs#subnav ul li[id$="-select"] .sbHolder .sbOptions li a,
                            #buddypress #whats-new-post-in-box .sbHolder .sbOptions li a,
                            #buddypress .messages-options-nav .sbHolder .sbOptions li a,
                            #buddypress div.item-list-tabs#subnav ul li[id$="-select"] label,
                            #buddypress #pag-top .pag-count,
                            #buddypress #pag-top .pagination-links a,
                            #buddypress #pag-top .pagination-links span,
                            #buddypress div.dir-search label input[type="text"],
                            #buddypress ul li .item-container .item .item-meta .activity,
                            #buddypress span.activity,
                            #buddypress #latest-update,
                            #buddypress #activity-stream li .activity-meta a.fav,
                            #buddypress #activity-stream li .activity-meta a.unfav,
                            #buddypress #activity-stream .activity-header p a,
                            #buddypress #activity-stream .activity-comments .acomment-meta,
                            #buddypress #activity-stream .activity-comments .acomment-meta a,
                            #buddypress div.activity-comments form div.ac-reply-content:hover .ac-reply-cancel,
                            #buddypress table.notifications tbody tr td a,
                            #buddypress .groups-members-search form label input[type="text"],
                            #buddypress label,
                            #buddypress table#message-threads tr td a:not(.button),
                            #buddypress div.pagination .pag-count,
                            #buddypress #message-thread .highlight,
                            #buddypress #message-thread .highlight a,
                            #buddypress div.item-list-tabs:not(#subnav) ul li a,
                            .widget_price_filter .price_slider_amount .price_label,
                            #customer_login .wp-social-login-widget .wp-social-login-connect-with { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #555555; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h1, h2#yit-popup-title { font-size: 28px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h2, .portfolio_big_image h2.post-title.portfolio-title a, .portfolio_small_image h2.post-title.portfolio-title a, #bbpress-forums #bbp-user-wrapper h2.entry-title { font-size: 24px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h3,.tabs-container ul.tabs li h4 a, .features-tab-container ul.features-tab-labels li h4 a, .yit_shortcodes.last-post h3 a, .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form .bp-login-widget-register-link a { font-size: 18px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }h4, .woocommerce-page div.product form.cart .variations label, .toggle h4.tab-index a, .toggle h4.tab-index a:hover, .woocommerce div.product form.cart .variations label, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th,
            .cart-collaterals th,
            .widget.widget_bp_core_members_widget.buddypress.widget ul#members-list li.vcard a,
            .widget.widget_bp_groups_widget.buddypress.widget ul#groups-list li a,
            .widget.widget_bp_core_friends_widget.buddypress.widget ul#friends-list li.vcard a,
            .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-link a,
            .widget_bp_core_sitewide_messages.buddypress.widget .bp-site-wide-message #message p strong,
            .bbp-logged-in h4 a,
            #buddypress ul li .item-container .item .item-username a,
            #buddypress div.item-list-tabs#subnav ul li.current a,
            #buddypress div.item-list-tabs#subnav ul li.selected a,
            #buddypress div.item-list-tabs#subnav ul li a:hover,
            #buddypress #activity-stream .activity-header p a:hover,
            #buddypress #activity-stream .activity-comments .acomment-meta a:hover,
            #buddypress table.notifications tbody tr td a:hover,
            #buddypress table#message-threads tr td a:not(.button):hover,
            #buddypress #message-thread .highlight a:hover,
            #buddypress #group-settings-form ul li  h5 > a { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h5,.tweets-widget span.meta,
                             .woocommerce div.summary .product_meta,
                             .woocommerce div.summary .product-share,
                             #buddypress div#item-header h2,
                             #buddypress #item-header-content .highlight { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h6 { font-size: 12px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#header { background-color: #e7eadf; background-image: url('https://hollygrovemarket.com/wp-content/uploads/2015/04/header1.jpg'); background-repeat: no-repeat; background-position: center; background-attachment: fixed; }#header.sticky-header, #header.fixed-header, .force-sticky-header #header { background-color: #e7eadf; background-color: rgba( 231, 234, 223, 0.9 ); }#logo #textual { font-size: 42px; font-family: 'Rokkitt', sans-serif; color: #3a3a39; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#logo #textual.highlight { font-size: 42px; font-family: 'Rokkitt', sans-serif; color: #a4bc48; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#tagline { font-size: 12px; font-family: 'Rokkitt', sans-serif; color: #3a3a39; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#tagline.highlight { font-size: 12px; font-family: 'Rokkitt', sans-serif; color: #a4bc48; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#slogan h2 { font-size: 24px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }#slogan p { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #555555; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }#slogan h2 span.title-highlight, #slogan p span.title-highlight, #slogan.yith-checkout-single span.current { color: #799707; }#slogan, .sticky .blog.small, .sticky .blog.big, .blog-masonry .sticky.masonry-brick .yit_post_content, .portfolio_small_image.portfolio-title-bar, #title_bar, #buddypress div.item-list-tabs ul:after, #buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span, #buddypress div#invite-list, .buddypress .ac_results ul li { background-color: #e7eadf; }#topbar { font-size: 15px; font-family: 'Rokkitt', sans-serif; color: #58603a; font-style: normal; font-weight: 400; text-align: left; text-transform: none; border-bottom-color: #d3d8c6; }#topbar, #topbar #lang_sel > ul > li > ul, #topbar #wcml_currency_switcher > ul > li > ul, #topbar #wcml_currency_switcher ul.sbOptions { background-color: #e7eadf; }#topbar a , #topbar a i { color: #a9aca4; }#topbar a:hover, #topbar a:hover i { color: #a4bc48; }#topbar  #lang_sel > ul > li a, #topbar #wcml_currency_switcher > ul > li a.sbSelector,
            #topbar #lang_sel > ul > li > ul > li a, #wcml_currency_switcher > ul > li > ul > li a { font-size: 12px; font-family: 'Rokkitt', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }#topbar #wcml_currency_switcher > ul > li a.sbSelector, #topbar #lang_sel > ul > li a,
                #topbar #wcml_currency_switcher > ul > li a.sbSelector, #topbar #lang_sel > ul > li > ul > li a,
                #wcml_currency_switcher > ul > li > ul > li a, #topbar #wcml_currency_switcher ul li a { color: #a9aca4; }#lang_sel > ul > li > a:hover span, #topbar #lang_sel:hover > ul > li a > #topbar #wcml_currency_switcher > ul > li a.sbSelector:hover,
                #topbar #lang_sel > ul > li a:hover, #topbar #wcml_currency_switcher > ul > li a.sbSelector:hover,
                #topbar #lang_sel > ul > li > ul > li a:hover,
                #wcml_currency_switcher > ul > li > ul > li a:hover,
                #topbar #wcml_currency_switcher > ul > li a.sbToggle,
                #wcml_currency_switcher .sbHolder a.sbToggle.sbToggleOpen,
                #topbar #wcml_currency_switcher ul li a:hover,
                #topbar #lang_sel:hover > ul > li > a,
                #topbar #wcml_currency_switcher:hover > ul > li a.sbSelector,
                #topbar #wcml_currency_switcher:hover > ul > li > a { color: #a4bc48; }#infobar { font-size: 15px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: center; text-transform: none; background-color: #f8f8f8; background-image: url('http://hollygrovemarket.com/wp-content/uploads/2015/04/header1.jpg'); background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }#infobar a { color: #a4bc48; }#infobar a:hover { color: #ffffff; }.nav ul > li a { font-size: 17px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; color: #000000; }#header-sidebar #lang_sel ul > li > ul > li a:hover, .nav ul > li a:hover, .nav ul > li a:focus,
                .nav .current-menu-item > a, .nav .current-menu-ancestor > a ,.nav .current-page-item > a, .nav ul > li:hover > a,
                #header .nav li.menu-close > a { color: #799707; }.nav ul > li a::before,
.nav ul > li a::after, #header-sidebar #lang_sel > ul > li > a::before, #header-sidebar #lang_sel > ul > li > a::after { background: #990000; }.nav ul > li.icon-home { background: #a4bc48; }nav ul > li.icon-home a, nav ul > li.icon-home a:hover, nav ul > li.icon-home:hover a,  .nav ul > li.icon-home a:hover, .nav ul > li.icon-home a { color: #ffffff; }.nav div.submenu > ul.sub-menu,
                            #welcome-menu-login.nav ul li.login-menu div.submenu,
                            #header-sidebar #lang_sel ul li ul,
                            #header-sidebar .widget_nav_menu li:hover ul.sub-menu,
                            #header-sidebar .widget_nav_menu #lang_sel:hover ul li ul,
                            .nav .megamenu .submenu,
                            #welcome-menu-login.nav ul li.login-menu div.submenu,
                            .nav .bigmenu >.submenu { border-color: #dcdad2; }.nav  span.highlight, .nav  span.highlight-inverse { font-size: 10px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.nav  span.highlight { color: #000000; background: #a4bc48; }.nav  span.highlight-inverse { color: #a4bc48; background: #000000; }.nav .bigmenu >.submenu,
                            .nav ul.sub-menu,
                            #header-sidebar #lang_sel ul li ul,
                            .nav .megamenu div.submenu,
                            #welcome-menu-login.nav ul li.login-menu div.submenu,
                            #menu-welcome-login > li div > div.login-box.with_registration { background-color: #e7eadf; }.nav ul.sub-menu li a, .nav ul.children li a { font-size: 14px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.nav ul.sub-menu li a, .nav ul.children li a, .nav li.megamenu ul.sub-menu li a, .nav li.bigmenu ul.sub-menu li a { color: #797979; }.nav ul.sub-menu li a:hover, .nav ul.children li a:hover,  .nav ul.sub-menu li a:hover, .nav ul.children li a:hover { color: #799707; }.nav .megamenu ul.sub-menu li a { font-size: 14px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.nav .megamenu > .submenu > ul.sub-menu > li > a, .nav .bigmenu > .submenu > ul.sub-menu > li > a { color: #000000; }.nav .megamenu > .submenu > ul.sub-menu > li > a:hover, .nav .megamenu > .submenu > ul.sub-menu > li:hover > a
                , .nav .bigmenu > .submenu > ul.sub-menu > li > a:hover, .nav .bigmenu > .submenu > ul.sub-menu > li:hover > a { color: #000000; }.nav div.submenu li > div.submenu li a, .nav .megamenu div.submenu li > div.submenu li a, .nav .bigmenu div.submenu li > div.submenu li a { color: #797979; }.nav div.submenu li > div.submenu li a:hover, .nav .megamenu div.submenu li > div.submenu li a:hover, .nav .megamenu div.submenu li > div.submenu li:hover a, .nav .bigmenu div.submenu li > div.submenu li a:hover, .nav .bigmenu div.submenu li > div.submenu li:hover a { color: #799707; }#header-sidebar .widget_search_mini .search_mini_content.animated, .skin1 #header-sidebar .widget_search_mini .search_mini_content, .skin2 #header-sidebar .widget_search_mini .search_mini_content.animated { border-color: #dcdad2; }#header-sidebar .widget_search_mini .search_mini_content.animated, .skin1 #header-sidebar .widget_search_mini .search_mini_content { background: #e7eadf; }#mini-search-submit, .yith-ajaxsearchform-container #yith-searchsubmit, .skin2 #mini-search-submit, .skin2 .yith-ajaxsearchform-container #yith-searchsubmit { border-color: #888984; background-color: #aaaba3; }.widget h3,
                              #buddypress div.item-list-tabs:not(#subnav) ul li a:hover,
                              #buddypress div.item-list-tabs:not(#subnav) ul li.selected a,
                              #buddypress div.item-list-tabs:not(#subnav) ul li.current a { font-size: 17px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.contact-info > h3 { font-size: 15px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.contact-info > h2 { font-size: 24px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: left; text-transform: none; }.contact-info ul li strong { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #202020; font-style: normal; font-weight: 700; text-align: left; text-transform: none; }.contact-info ul li { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #5f5d5d; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.widget.teaser .image-banner-text .title { font-size: 24px; font-family: 'Rokkitt', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }.widget.teaser .image-banner-text .subtitle { font-size: 18px; font-family: 'Rokkitt', sans-serif; color: #a4bc48; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }.widget.yit_toggle_menu ul.menu > li > a { font-size: 15px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.widget.yit_toggle_menu ul.sub-menu li a { font-size: 15px; font-family: 'Rokkitt', sans-serif; color: #5f5d5d; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.btn-flat, a.btn-flat,
                              .nav ul > li div div.btn-fb-login a,
                              #welcome-menu-login.nav ul > li #customer_login .button,
                              .yith-wcwl-add-button .add_to_wishlist,
                              .yith-wcwl-add-button .add_to_wishlist:before,
                              div.compare a.compare,
                              div.compare a.compare:before,
                              .yith-wcwl-wishlistaddedbrowse a,
                              .yith-wcwl-wishlistexistsbrowse a,
                              a.button.view,
                              .banner-image .button,
                              .wishlist_table .button,
                              a.btn.animated.btn-flat:hover,
                              table.compare-list .add-to-cart td a,
                              .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a,
                              a.bp-title-button,
                              .widget.widget_price_filter button[type="submit"],
                              .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit,
                              .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout,
                              a.compare.button,
                              .yit-maintenance-mode form.newsletter input.submit-field,
                              #buddypress div.generic-button a,
                              #buddypress a.button,
                              #buddypress div.generic-button a span,
                              #buddypress div.activity-meta a.button span,
                              #buddypress div.activity-comments form input,
                              #buddypress table#message-threads tr td.thread-options a.button,
                              #buddypress div.messages-options-nav > a,
                              #buddypress input#upload,
                              #buddypress #create-group-form input[type="submit"],
                              .cx-send a.cx-form-btn { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }.btn-flat:hover,
                              .nav ul > li div div.btn-fb-login a:hover,
                              a.btn-flat:hover,
                              #welcome-menu-login.nav ul > li #customer_login .button:hover,
                              .yith-wcwl-add-button .add_to_wishlist:hover,
                              .yith-wcwl-add-button .add_to_wishlist:hover:before,
                              div.compare a.compare:hover,
                              div.compare a.compare:hover:before,
                               .yith-wcwl-wishlistaddedbrowse a:hover,
                               .yith-wcwl-wishlistexistsbrowse a:hover,
                               a.button.view:hover,
                               table.compare-list .add-to-cart td a:hover,
                               .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a,
                               .widget.widget_price_filter button[type="submit"]:hover,
                               .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit:hover,
                               .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout:hover,
                               .yith-wcwl-wishlistaddedbrowse .feedback,
                               a.compare.button:hover,
                               .woocommerce a.button.wc-forward.btn-flat:hover,
                               a.button.wc-forward.btn-flat:hover,
                               .yit-maintenance-mode form.newsletter input.submit-field:hover,
                               #buddypress div.generic-button a:hover,
                               #buddypress a.button:hover,
                               #buddypress div.generic-button a:hover span,
                               #buddypress div.activity-meta a.button:hover span,
                               #buddypress div.activity-comments form input:hover,
                               #buddypress table#message-threads tr td.thread-options a.button:hover,
                               #buddypress div.messages-options-nav > a:hover,
                               #buddypress input#upload:hover,
                               #buddypress #create-group-form input[type="submit"]:hover,
                               .cx-send a.cx-form-btn:hover { color: #ffffff; }.btn-flat,
                                   a.btn-flat,
                                   button.button-login,
                                   .nav ul > li div div.btn-fb-login,
                                   .banner-image .button,
                                   #welcome-menu-login.nav ul > li #customer_login .button,
                                   .yith-wcwl-add-button .add_to_wishlist,
                                   div.compare a.compare, a.button.view,
                                   .wishlist_table .button,
                                   a.btn.animated.btn-flat,
                                   a.btn.animated.btn-flat:hover,
                                   table.compare-list .add-to-cart td a,
                                   .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a,
                                  .widget.widget_price_filter button[type="submit"],
                                  .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit,
                                  .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout,
                                  a.compare.button,
                                  .yit-maintenance-mode form.newsletter input.submit-field,
                                  #buddypress div.generic-button a,
                                  #buddypress a.button,
                                  #buddypress div.activity-comments form input,
                                  #buddypress table#message-threads tr td.thread-options a.button,
                                  #buddypress div.messages-options-nav > a,
                                  #buddypress input#upload,
                                  #buddypress #create-group-form input[type="submit"],
                                  .cx-send a.cx-form-btn { background-color: transparent;  background: transparent; }.btn-flat:hover, a.btn-flat:hover, .nav ul > li div div.btn-fb-login:hover, #welcome-menu-login.nav ul > li #customer_login .button:hover, .yith-wcwl-add-button .add_to_wishlist:hover, div.compare a.compare:hover,
                                .woocommerce div.product-actions div.wishlist .yith-wcwl-wishlistaddedbrowse a:hover, .woocommerce div.product-actions div.wishlist .yith-wcwl-wishlistexistsbrowse a:hover, a.button.view:hover, #yith-wcwl-form a.button:hover, table.compare-list .add-to-cart td a:hover,
                                .widget.widget_price_filter button[type="submit"]:hover,
                                .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit:hover,
                                .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout:hover,
                                .yith-wcwl-wishlistaddedbrowse .feedback,
                                a.compare.button:hover,
                                .woocommerce a.button.wc-forward.btn-flat:hover,
                                a.button.wc-forward.btn-flat:hover,
                                .yit-maintenance-mode form.newsletter input.submit-field:hover,
                                #buddypress div.generic-button a:hover,
                                #buddypress a.button:hover,
                                #buddypress div.activity-comments form input:hover,
                                #buddypress table#message-threads tr td.thread-options a.button:hover,
                                #buddypress div.messages-options-nav > a:hover,
                                #buddypress input#upload:hover,
                                #buddypress #create-group-form input[type="submit"]:hover,
                                .cx-send a.cx-form-btn:hover { background-color: #818e49;  background: #818e49; }.btn-flat, a.btn-flat, .yith-wcwl-add-button .add_to_wishlist, .banner-image .button, div.compare a.compare, .nav ul > li div div.btn-fb-login, .yith-wcwl-wishlistaddedbrowse a, .yith-wcwl-wishlistexistsbrowse a, a.button.view, .wishlist_table .button, a.btn.animated.btn-flat, a.btn.animated.btn-flat:hover, table.compare-list .add-to-cart td a, .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a,
                                 a.bp-title-button, .widget.widget_price_filter button[type="submit"],
                                 .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit,
                                 .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout,
                                 a.compare.button, #welcome-menu-login.nav ul > li #customer_login .button,
                                 .yit-maintenance-mode form.newsletter input.submit-field,
                                 #buddypress div.generic-button a,
                                 #buddypress a.button,
                                 #buddypress div.activity-comments form input,
                                 #buddypress table#message-threads tr td.thread-options a.button,
                                 #buddypress div.messages-options-nav > a,
                                 #buddypress input#upload,
                                 #buddypress #create-group-form input[type="submit"],
                                 .cx-send a.cx-form-btn { border-color: #929688; }.btn-flat:hover, a.btn-flat:hover, .yith-wcwl-add-button .add_to_wishlist:hover, .banner-image .button:hover, div.compare a.compare:hover, .nav ul > li div div.btn-fb-login:hover, .yith-wcwl-wishlistaddedbrowse a:hover, .yith-wcwl-wishlistexistsbrowse a:hover, a.button.view:hover, table.compare-list .add-to-cart td a:hover,
                                 .widget.widget_price_filter button[type="submit"]:hover,
                                 .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit:hover,
                                 .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout:hover,
                                 .yith-wcwl-wishlistaddedbrowse .feedback:after,
                                 a.compare.button:hover,
                                 .yit-maintenance-mode form.newsletter input.submit-field:hover,
                                 #welcome-menu-login.nav ul > li #customer_login .button:hover,
                                 #buddypress div.generic-button a:hover,
                                 #buddypress a.button:hover,
                                 #buddypress div.activity-comments form input:hover,
                                 #buddypress table#message-threads tr td.thread-options a.button:hover,
                                 #buddypress div.messages-options-nav > a:hover,
                                 #buddypress input#upload:hover,
                                 #buddypress #create-group-form input[type="submit"]:hover,
                                 .cx-send a.cx-form-btn:hover { border-color: #929688; }.btn-alternative,
                              a.btn-alternative,
                              #welcome-menu-login.nav ul > li #customer_login .button.button-register,
                              #submit,
                              .button,
                              a.btn.animated.btn-alternative:hover,
                              .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a:hover,
                              #comments ol li .information .user-info .is_author,
                              #buddypress div.item-list-tabs ul li a span,
                              #buddypress div.item-list-tabs ul li a:hover span,
                              #buddypress div.item-list-tabs ul li.current a span,
                              #buddypress div.item-list-tabs ul li.current a:hover span,
                              #buddypress div.item-list-tabs ul li.selected a span,
                              #buddypress div.item-list-tabs ul li.selected a:hover span,
                              #buddypress div.generic-button.not_friends[id^="friendship-button"] a,
                              #buddypress div.generic-button a.join-group,
                              #buddypress #whats-new-submit input[type="submit"],
                              #buddypress .standard-form div.submit input,
                              #buddypress .groups-members-search input[type="submit"],
                              #buddypress #group-settings-form input[type="submit"]:not(#upload),
                              #buddypress #search-message-form input[type="submit"],
                              #buddypress table#message-threads tr.unread td.thread-count span.unread-count { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }.btn-alternative:hover,
                              a.btn-alternative:hover,
                              #welcome-menu-login.nav ul > li #customer_login .button.button-register:hover,
                              #submit:hover, .button:hover,
                              #my-account-sidebar .user-profile span.logout a,
                              #my-account-content .addresses .title a.edit,
                              #bbpress-forums #subscription-toggle span a,
                              #bbpress-forums #favorite-toggle span a,
                              .widget.bbp_widget_login a.button,
                              #buddypress div.generic-button.not_friends[id^="friendship-button"] a:hover,
                              #buddypress div.generic-button a.join-group:hover,
                              #buddypress #whats-new-submit input[type="submit"]:hover,
                              #buddypress .standard-form div.submit input:hover,
                              #buddypress .groups-members-search input[type="submit"]:hover,
                              #buddypress #group-settings-form input[type="submit"]:not(#upload):hover,
                              #buddypress #search-message-form input[type="submit"]:hover { color: #ffffff; }.btn-alternative,
                                  a.btn-alternative,
                                  #welcome-menu-login.nav ul > li #customer_login .button.button-register,
                                  #submit, .button,
                                  .woocommerce input.button,
                                  .button.submit-field,
                                  a.btn.animated.btn-alternative:hover,
                                  .woocommerce.widget.widget_product_search #searchform #searchsubmit,
                                  #yith-searchsubmit, .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a:hover,
                                  #my-account-sidebar .user-profile span.logout,
                                  #my-account-content .addresses .title a.edit,
                                  #bbpress-forums #subscription-toggle span,
                                  #bbpress-forums #favorite-toggle span,
                                  .widget.bbp_widget_login a.button,
                                  #comments ol li .information .user-info .is_author,
                                  #buddypress div.item-list-tabs ul li a span,
                                  #buddypress div.item-list-tabs ul li a:hover span,
                                  #buddypress div.item-list-tabs ul li.current a span,
                                  #buddypress div.item-list-tabs ul li.current a:hover span,
                                  #buddypress div.item-list-tabs ul li.selected a span,
                                  #buddypress div.item-list-tabs ul li.selected a:hover span,
                                  #buddypress div.dir-search input[type="submit"],
                                  #buddypress div.generic-button.not_friends[id^="friendship-button"] a,
                                  #buddypress div.generic-button a.join-group,
                                  #buddypress #whats-new-submit input[type="submit"],
                                  #buddypress .standard-form div.submit input,
                                  #buddypress .groups-members-search input[type="submit"],
                                  #buddypress #group-settings-form input[type="submit"]:not(#upload),
                                  #buddypress table#message-threads tr.unread td.thread-count span.unread-count,
                                  #buddypress #search-message-form input[type="submit"] { background-color: #aaaba3;  background: #aaaba3; }.btn-alternative:hover,
                                  a.btn-alternative:hover,
                                  #welcome-menu-login.nav ul > li #customer_login .button.button-register:hover,
                                  #submit:hover,
                                  .woocommerce #respond input#submit:hover,
                                  .button:hover,
                                  .woocommerce input.button:hover,
                                  .button.submit-field:hover,
                                  .woocommerce .btn-alternative.button.checkout:hover,
                                  .woocommerce a.btn-alternative.button.checkout:hover,
                                  .woocommerce.widget.widget_product_search #searchform #searchsubmit:hover,
                                  #yith-searchsubmit:hover,
                                  #my-account-sidebar .user-profile span.logout:hover,
                                  #my-account-content .addresses .title a.edit:hover,
                                  #bbpress-forums #subscription-toggle span:hover,
                                  #bbpress-forums #favorite-toggle span:hover,
                                  .widget.bbp_widget_login a.button:hover,
                                  #buddypress div.dir-search input[type="submit"]:hover,
                                  #buddypress div.generic-button.not_friends[id^="friendship-button"] a:hover,
                                  #buddypress div.generic-button a.join-group:hover,
                                  #buddypress #whats-new-submit input[type="submit"]:hover,
                                  #buddypress .standard-form div.submit input:hover,
                                  #buddypress .groups-members-search input[type="submit"]:hover,
                                  #buddypress #group-settings-form input[type="submit"]:not(#upload):hover,
                                  #buddypress #search-message-form input[type="submit"]:hover { background-color: #818e49;  background: #818e49; }.btn-alternative,
                                  a.btn-alternative,
                                  #welcome-menu-login.nav ul > li #customer_login .button.button-register,
                                  #submit,
                                  .button,
                                  a.btn.animated.btn-alternative:hover,
                                  .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a:hover,
                                  #buddypress div.dir-search input[type="submit"],
                                  #buddypress div.generic-button.not_friends[id^="friendship-button"] a,
                                  #buddypress div.generic-button a.join-group,
                                  #buddypress #whats-new-submit input[type="submit"],
                                  #buddypress .standard-form div.submit input,
                                  #buddypress .groups-members-search input[type="submit"],
                                  #buddypress #group-settings-form input[type="submit"]:not(#upload),
                                  #buddypress table#message-threads tr.unread td.thread-count span.unread-count,
                                  #buddypress #search-message-form input[type="submit"] { border-color: #888984; }.btn-alternative:hover,
                                 a.btn-alternative:hover,
                                 #welcome-menu-login.nav ul > li #customer_login .button.button-register:hover,
                                 #submit:hover,
                                 .button:hover,
                                 #buddypress div.dir-search input[type="submit"]:hover,
                                 #buddypress div.generic-button.not_friends[id^="friendship-button"] a:hover,
                                 #buddypress div.generic-button a.join-group:hover,
                                 #buddypress #whats-new-submit input[type="submit"]:hover,
                                 #buddypress .standard-form div.submit input:hover,
                                 #buddypress .groups-members-search input[type="submit"]:hover,
                                 #buddypress #group-settings-form input[type="submit"]:not(#upload):hover,
                                 #buddypress #search-message-form input[type="submit"]:hover { border-color: #929688; }.error-404-text p { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #3a3a39; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }.blog.big h1.post-title a, .blog.big h2.post-title a { font-size: 24px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }.blog.small h1.post-title a, .blog.small h2.post-title a { font-size: 18px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.blog-masonry .masonry-brick .yit_post_content h1.post-title a, .blog-masonry .masonry-brick .yit_post_content h2.post-title a, .blog-masonry .masonry-brick .yit_post_quote .quote-title a { font-size: px; font-family: '', sans-serif; font-style: italic; font-weight: ; text-align: left; text-transform: none; }.blog.big h1.post-title a, .blog.big h2.post-title a,
                                 .blog.small h1.post-title a, .blog.small h2.post-title a,
                                 .blog h1.quote-title a, .blog h2.quote-title a,
                                 .blog_section.post_meta .title a,
                                 .blog-masonry .masonry-brick .yit_post_content h1.post-title a,
                                 .blog-masonry .masonry-brick .yit_post_content h2.post-title a,
                                 .blog-masonry .masonry-brick .yit_post_quote .quote-title a,
                                 .blog-masonry .masonry-brick .yit_post_content h1.post-title a:visited,
                                 .blog-masonry .masonry-brick .yit_post_content h2.post-title a:visited { color: #000000; }.blog.big h1.post-title a:hover,
                                 .blog.small h1.post-title a:hover,
                                 .blog.big h2.post-title a:hover,
                                 .blog.small h2.post-title a:hover,
                                 .blog h2.quote-title a:hover,
                                 .blog_section.post_meta .title a:hover,
                                 .blog-masonry .masonry-brick .yit_post_content h1.post-title a:hover,
                                 .blog-masonry .masonry-brick .yit_post_content h2.post-title a:hover { color: #799707; }.blog.big .yit_post_meta, .single-post .blog.big .share, span.share-text { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #555555; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }.blog.small .yit_post_meta { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #555555; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }.blog-masonry .masonry-brick .yit_post_content p { font-size: px; font-family: '', sans-serif; color: ; font-style: italic; font-weight: ; text-align: left; text-transform: none; }.blog-masonry .masonry-brick .yit_post_content,  .blog-masonry .masonry-brick .yit_post_content  .yit_post_meta span a { font-size: px; font-family: '', sans-serif; color: ; font-style: italic; font-weight: ; text-align: left; text-transform: none; }.blog-masonry .masonry-brick .yit_post_content  .yit_post_meta span a, .blog.big .yit_post_meta span a, .blog.big .yit_post_meta span a:visited, .single-post .blog .share .socials-text a,
                                 .blog.small .yit_post_meta a, .blog.small .yit_post_meta a:visited,
                                 .blog_section.post_meta .info, .blog_section.post_meta .info a,div.socials a { color: #555555; }.blog-masonry .masonry-brick .yit_post_content  .yit_post_meta span a:hover, .blog.big .yit_post_meta span a:hover, .blog.big .yit_post_meta span a:active,
                                 .single-post .blog .share .socials-text a:hover, .single-post .blog .share .share-text:hover,
                                 .blog.small .yit_post_meta a:hover, .blog.small .yit_post_meta a:active,
                                 .blog_section.post_meta .info a:active, .blog_section.post_meta .info a:hover,div.socials a:hover, span.share-text:hover { color: #799707; }.reply_link, .comment-reply-link, #commentform .logged-in-as a, .comment-navigation .nav-previous a, .comment-navigation .nav-next a { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #555555; font-style: normal; font-weight: 400; text-transform: uppercase; }.general-pagination { font-size: 18px; font-family: 'Rokkitt', sans-serif; font-style: normal; font-weight: 400; text-align: center; }.general-pagination a { color: #555555; background-color: #ffffff; }.general-pagination a:hover, #commentform .logged-in-as a:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover { color: #a4bc48; }.general-pagination a.selected, .general-pagination a:hover.selected { color: #555555; }.general-pagination a:hover { background-color: #ffffff; }.general-pagination a.selected { background-color: #ffffff; }#copyright p, #copyright ul li a { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #555555; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#copyright a { color: #a4bc48; }#copyright a:hover, #copyright ul li a:hover { color: #799707; }#footer h5,.widget.recent-posts .recent-post .post-date, .widget.recent-posts .recent-post .text > div.post-content > a { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }#footer-copyright-group { background-color: #e7eadf; background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }#back-top a, #back-top a:hover { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }#back-top { background-color: #2e2e2e; }#back-top:hover { background-color: #a4bc48; }#header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a.remove:hover { color: #a4bc48; }.info-product h3, .info-product h3 a,
                              ul.featured-products-slider li .product_name,
                             .widget.woocommerce.widget_recently_viewed_products li a .product_title,
                             .widget.woocommerce.widget_products li a .product_title,
                             .widget.woocommerce.widget_top_rated_products li a .product_title,
                             .widget.woocommerce.widget_recent_reviews li a .product_title,
                             .widget.yit_products_category li a .product_title { font-size: 15px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }.info-product .price,
                              table.compare-list .price td .amount,
                              ul.featured-products-slider li .price,
                              #yit-popup-right .price .amount,
                              .widget.woocommerce.widget_recently_viewed_products .product_price,
                              .widget.woocommerce.widget_products .product_price,
                              .widget.woocommerce.widget_top_rated_products .product_price,
                              .widget.yit_products_category .product_price { font-size: 19px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: center; text-transform: none; }.woocommerce ul.products li.product .thumb-wrapper.slideup .quick-view { background-color: #808e49; }.woocommerce ul.products li.product .quick-view a, .woocommerce ul.products li.product .quick-view p { font-size: 12px; font-family: 'Rokkitt', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }.woocommerce span.onsale, .woocommerce-page span.onsale { border-color: #ffa509; background: #f7c104; color: #000000; }.woocommerce span.onsale.preset, .woocommerce-page span.onsale.preset { border-color: #000000; background: #636363; color: #ffffff; }.woocommerce span.added_to_cart_ico, .woocommerce-page span.added_to_cart_ico { border-color: #908209; background: #adab01; color: #ffffff; }#number-of-products,
                              #number-of-products a,
                              nav.woocommerce-pagination ul.page-numbers li a,
                              nav.woocommerce-pagination ul.page-numbers li { font-size: 16px; font-family: 'Rokkitt', sans-serif; color: #b4b4b4; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.single-product.woocommerce div.product div.summary .price, .single-product.woocommerce div.product div.summary h1 { font-size: 30px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-align: left; text-transform: none; }.woocommerce div.product .stock.out-of-stock,
                             .woocommerce-page div.product .stock.out-of-stock { color: #dd3333; }.woocommerce div.product .stock,
                             .woocommerce-page div.product .stock { color: #85ad74; }.woocommerce #header-sidebar .yit_cart_widget .cart_wrapper, #header-sidebar .yit_cart_widget .cart_wrapper { border-color: #dcdad2; background: #e7eadf; }#loginform label { font-size: 13px; font-family: 'Rokkitt', sans-serif; color: #070707; font-style: normal; font-weight: 400; text-transform: uppercase; }.login .button-primary { font-size: 14px; font-family: 'Rokkitt', sans-serif; color: #000000; font-style: normal; font-weight: 700; text-transform: uppercase; background-color: #f7c104; border-color: #e79904; }.login .button-primary:hover { background-color: #000000; border-color: #000000; }.login #nav a, .login #backtoblog a { font-size: 13px; font-family: 'Rokkitt', sans-serif; color: #686666; font-style: normal; font-weight: 700; text-transform: none; }

/* food Skin */
.woocommerce #header-sidebar .yit-mini-cart-icon, #header-sidebar .yit-mini-cart-icon {
	border: 1px solid #6e8c00;
	height: 20px;
	width: 20px;
	background-color: #e7eadf;
	top: 11%;
	left: 20px;
}
.woocommerce #header-sidebar .yit_cart_widget .cart-items-number, #header-sidebar .yit_cart_widget .cart-items-number {
	color: #4a5c08;
}
.arrow:after, .arrow-right:after {
	border-bottom-color: #e7eadf;
}
#testimonial .arrow-down:after {
	border-top-color: #e7eadf;
}
.share-link.arrow-right:after,
.socials.arrow:after, .socials.arrow-right:after {
	border-bottom-color: #ffffff;
}
.arrow-left:after {
	border-right: 6px solid #e7eadf !important;
}
#topbar {
	border-bottom: none;
}
#topbar div.container:after {
	content: '';
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid; 
}
#bbpress-forums li.bbp-body div.bbp-reply-content:after,
#bbpress-forums li.bbp-body div.bbp-topic-content:after {
	border-right: 6px solid #e7eadf !important;
}
.call-to-action-two .call-to-action-two-container,
.call-three .newsletter-cta-form-container {
	border: 6px solid #dce0d3;
}
.woocommerce #content .quantity .minus, 
.woocommerce #content .quantity .plus, 
.woocommerce .quantity .minus, 
.woocommerce .quantity .plus, 
.woocommerce-page #content .quantity .minus, 
.woocommerce-page #content .quantity .plus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page .quantity .plus,
.woocommerce #content .quantity input.qty, 
.woocommerce .quantity input.qty, 
.woocommerce-page #content .quantity input.qty, 
.woocommerce-page .quantity input.qty,
#yith-s, 
.autocomplete-suggestions,
input[type="text"], input[type="password"], textarea, input[type="email"],
.woocommerce table.shop_table.coupon td input.input-text, 
.woocommerce table.shop_table.shipping p input.input-text,
.woocommerce table.shop_table.shipping a.sbSelector, 
.woocommerce-ordering a.sbSelector, 
.widget_product_categories a.sbSelector, 
.woocommerce table.variations a.sbSelector,
#bbpress-forums a.sbSelector, 
#bbpress-forums .sbOptions, 
#bbpress-forums input[type="text"], 
.bbp_widget_login input[type="text"], 
.bbp_widget_login input[type="password"],
.woocommerce form .form-row a.chosen-single,
.woocommerce .form-row .chosen-search input,
.woocommerce .form-row .chosen-drop,
.sbHolder .sbOptions,
#buddypress form#whats-new-form textarea,
.quicktags-toolbar {
	background-color: #dbddd5;
}
#testimonial.testimonial-square .testimonial-site .website {
	background: #c4d168;
}
.yitpopup_wrapper,
h2#yit-popup-title,
.features-tab-container,
.yit_post_quote .quote-title span {
	background: #e7eadf;
}